/* button.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Button Module

The Button module include predefined button styles with different semantic purposes.

*/
@import 'variables.css';
@import 'normalisation.css';

/*--------------------------------------------------------------------------------------------------------------------*/
/* Variables                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

:root
{
  --button-padding-horizontal: 1.5em;
  --button-padding-vertical: 0.5em;

  --button-font-size: var(--global-font-size);
  --button-background-primary: var(--global-background-primary);
  --button-foreground-color-primary: var(--global-inverse-color);
  --button_border_radius: var(--global-border-radius);
  --button_background_color: var(--global-muted-background);
  --button_animated_vertical_align: middle;
  --button_animation_duration: 0.3s;
  --button_animation_easing: ease;
}

/*endregion*/

/*doc

## Button

A standard button.

<div class="buttons">
  <button class="button">Click Me</button>
  <button class="primary">Click Me</button>
  <button class="secondary">Click Me</button>
</div>
*/

.button,
.buttons > *
{
  /*sizing */
  min-height: 1em;
  /* spacing */
  margin: 0;
  padding: var(--button-padding-vertical) var(--button-padding-horizontal) var(--button-padding-vertical);
  /* border */
  border: none;
  border-radius: var(--button_border_radius);
  outline: none;
  /* typography */
  font: inherit;
  font-size: 1em;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  /* coloring */
  color: inherit;
  background: var(--button_background_color);
  /* positioning */
  display: inline-block;
  vertical-align: middle;
  /* cursor */
  cursor: pointer;

  user-select: none;
}

.button > .icon
{
  margin: 0 !important;
}

/* Primary Buttons */

.button:hover,
.buttons > *:hover
{
  background-color: color(var(--button_background_color) blackness(20%));
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Circular Button                                                                                                    */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

.circular.button
{
  border-radius: 10em;
  padding: var(--button-padding-vertical) var(--button-padding-vertical) var(--button-padding-vertical);
}

.circular.button > .icon
{
  width: 1em;
  vertical-align: baseline  ;
}

/*endregion*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* Animated Button                                                                                                    */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

/*doc

## Animated Button

<div class="animated button">
  <div class="content visible">Sign Up</div>
  <div class="content hidden">12.99$ a month</div>
</div>

*/

.animated.button
{
  overflow: hidden;
  position: relative;
  padding-right: 0 !important;
  z-index: 1;
  vertical-align: var(--button_animated_vertical_align);
}

.animated.button .content
{
  will-change: transform, opacity;
}

.animated.button .content
{
  will-change: transform, opacity;
}

.animated.button .visible.content
{
  position: relative;
  margin-right: var(--button-padding-horizontal);
}

.animated.button .hidden.content
{
  position: absolute;
  width: 100%;
}

.animated.button .visible.content,
.animated.button .hidden.content
{
  transition: right var(--button_animation_duration) var(--button_animation_easing) 0s;
}

.animated.button .visible.content
{
  left: auto;
  right: 0;
}

.animated.button .hidden.content
{
  top: 50%;
  left: auto;
  right: -100%;
  margin-top: calc((-1 * var(--button-line-height) / 2));
}

.animated.button:focus .visible.content,
.animated.button:hover .visible.content
{
  left: auto;
  right: 200%;
}

.animated.button:focus .hidden.content,
.animated.button:hover .hidden.content
{
  left: auto;
  right: 0;
}

/*endregion*/

