:root
{
  --panel-header-padding-horizontal: var(--global-gutter);
  --panel-header-padding-vertical: var(--panel-header-padding-horizontal);

  --panel-body-padding-horizontal: var(--global-gutter);
  --panel-body-padding-vertical: var(--panel-header-padding-horizontal);

  --panel-background-primary: var(--global-background-primary);
  --panel-background-secondary: var(--global-background-secondary);
  --panel-foreground-color-primary: var(--global-inverse-color);
  --panel-foreground-color-secondary: var(--global-inverse-color);
  --panel-title-color-primary: var(--global-inverse-color);
  --panel-title-color-secondary: var(--global-inverse-color);

}

.kit-panel
{
  position: relative;

}

.kit-panel > h2,
.kit-panel > .kit-panel-header
{
  padding: var(--panel-header-padding-vertical) var(--panel-header-padding-horizontal);
}

.kit-panel > .kit-panel-body
{
  padding: var(--panel-body-padding-vertical) var(--panel-body-padding-horizontal);
}

.kit-panel-primary
{
  background: var(--panel-background-primary);
  color: var(--panel-foreground-color-primary);
}

.kit-panel-secondary
{
  background: var(--panel-background-secondary);
  color: var(--panel-foreground-color-secondary);
}

.kit-panel-primary .kit-panel-title,
.kit-panel-primary h1,
.kit-panel-primary h2,
.kit-panel-primary h3,
.kit-panel-primary h4,
.kit-panel-primary h5,
.kit-panel-primary h6
{
  color: var(--panel-title-color-primary);
}


.kit-panel-secondary .kit-panel-title,
.kit-panel-secondary h1,
.kit-panel-secondary h2,
.kit-panel-secondary h3,
.kit-panel-secondary h4,
.kit-panel-secondary h5,
.kit-panel-secondary h6
{
  color: var(--panel-title-color-secondary);
}

