:root
{
  --kit_width_small: 150px;
  --kit_width_medium: 300px;
  --kit_width_large: 450px;
  --kit_width_xl: 600px;
  --kit-width-xxl: 750px;
}

.kit_width_1_1
{
  width: 100%;
}

.kit_child_width_1_4 > *,
.kit_width_1_4
{
  width: 25%;
}

.kit_child_width_2_5 > *,
.kit_width_2_5
{
  width: 40%;
}

.kit_child_width_3_5 > *,
.kit_width_3_5
{
  width: 60%;
}

.kit_child_width_3_4 > *,
.kit_width_3_4
{
  width: 75%;
}

.kit_height_viewport
{
  min-height: 100vh;
}

.kit_height_viewport_4_5
{
  min-height: 80vh;
}

@media (--small)
{

}

@media (--medium)
{
  .kit_child_width_1_1_medium,
  .kit_child_width_medium > *,
  .kit_width_1_1_medium,
  .kit_width_medium
  {
    width: 100%;
  }

  .kit_child_width_1_2_medium > *
  {
    width: 50%;
  }

  .kit_child_width_1_4_medium > *,
  .kit_width_1_4_medium
  {
    width: 25%;
  }

  .kit_child_width_1_5_medium > *
  {
    width: 20%;
  }

  .kit_child_width_3_4_medium > *,
  .kit_width_3_4_medium
  {
    width: 75%;
  }


}

@media (--large)
{
  .kit_child_width_1_1_large,
  .kit_child_width_large > *
  {
    width: 100%;
  }

  .kit_child_width_1–2_large > *
  {
    width: 50%;
  }

  .kit_child_width_1–4_large > *
  {
    width: 25%;
  }

  .kit_child_width_1–5_large > *
  {
    width: 20%;
  }

}

@media (--xxl)
{

}
