.kit_invisible
{
  visibility: hidden;
}

@media (--small-up)
{
  .kit_visible\@small-up
  {
    visibility: visible;
  }

  .kit_hidden\@small-up
  {
    display: none;
  }
}

@media (--medium-up)
{
  .kit_visible\@medium-up
  {
    visibility: visible;
  }

  .kit_hidden\@medium-up
  {
    display: none;
  }
}