.kit_invisible
{
  visibility: hidden !important;
}

@media (--small-up)
{
  .kit_visible\@small-up
  {
    visibility: visible !important;
  }

  .kit_hidden\@small-up
  {
    display: none !important;
  }
}

@media (--medium-up)
{
  .kit_visible\@medium-up
  {
    visibility: visible !important;
  }

  .kit_hidden\@medium-up
  {
    display: none !important;
  }
}