/* button.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Button Module

The Button module include predefined button styles with different semantic purposes.

*/

@import 'variables.css';
@import 'normalisation.css';

/*--------------------------------------------------------------------------------------------------------------------*/
/* Variables                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

:root
{
  --button-padding-horizontal: var(--global-gutter);
  --button-line-height: var(--global-control-height);
  --button-font-size: var(--global-font-size);
  --button-background-primary: var(--global-background-primary);
  --button-foreground-color-primary: var(--global-inverse-color);

  --button_border_radius: var(--global-border-radius);
  --button_background_color: var(--global-muted-background);
}

/*endregion*/

/*doc

## Button

A standard button.

<div class="buttons">
  <button class="button">Click Me</button>
  <button class="primary">Click Me</button>
  <button class="secondary">Click Me</button>
</div>
*/

.button,
.buttons > *
{
  /* spacing */
  margin: 0;
  padding: 0 var(--button-padding-horizontal);
  /* border */
  border: none;
  border-radius: var(--button_border_radius);
  outline: none;
  /* typography */
  font: inherit;
  font-size: var(--button-font-size);
  text-align: center;
  text-transform: none;
  line-height: var(--button-line-height);
  text-decoration: none;
  /* coloring */
  color: inherit;
  background: var(--button_background_color);
  /* positioning */
  display: inline-block;
  vertical-align: middle;
}

/* Primary Buttons */

.button:hover,
.buttons > *:hover
{
  background-color: color(var(--button_background_color) blackness(20%));
}
