/* Dropdown
** http://getmarkupkit.com
**(c) Thomas Schroeter <mailto: mail@tschroeter.com> and Investigative Reporters & Editors 2017
** markup_kit may be freely distributed under the MIT license
*/

@import 'variables.css';

:root
{
  --drop_down_zindex: 20;
  --drop_down_min_width: 200px;
  --drop_down_padding: 15px;
  --drop_down_background: var(--global-background);
  --drop_down_foreground: var(--global-muted-color);
  --drop_down_hover_color: var(--global-inverse-color);
  --drop_down_hover_background: var(--global-background-primary);
}

.kit_drop_down
{
  display: none; /* hide by default */
  position: absolute;
  z-index: var(--drop_down_zindex);
  box-sizing: border-box;
  min-width: var(--drop_down_min_width);
  background: var(--drop_down_background);
  color: var(--drop_down_foreground);
  padding: var(--drop_down_padding) 0;
  box-shadow: var(--global_box_shadow_medium);
  @apply(--kit_drop_down_mixin);

}

.kit_drop_down .kit_drop_down_item
{
  padding: 0 var(--drop_down_padding);

  @apply(--kit_drop_down_item_mixin);
}

.kit_drop_down .kit_drop_down_item.selected,
.kit_drop_down .kit_drop_down_item:hover
{
  color: var(--drop_down_hover_color);
  background: var(--drop_down_hover_background);
}

.kit_drop_down .kit_drop_down_item:hover
{

}

/** Dropdown Menu **/
@media (--medium-up)
{

  .kit_drop_down_nav_item@medium-up
  {
    position: relative;
  }

  .kit_nav .kit_drop_down_nav_item\@medium-up > .kit_nav,
  nav .kit_drop_down_nav_item\@medium-up > ul
  {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 9999 !important;
    background-color: var(--nav_dropdown_background);
  }

  .kit_drop_down_nav_item\@medium-up:hover .kit_nav,
  .kit_drop_down_nav_item\@medium-up:hover > ul
  {
    visibility: visible;
  }
}

/** available mixins */

:root
{
  --kit_drop_down_mixin:
  {
  };

  --kit_drop_down_item_mixin:
  {
  };
}


