
@import 'variables.css';

:root
{
  --grid-gutter-horizontal: var(--global-gutter);
}

.kit_grid_flex
{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.kit_grid_flex > *
{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* gutter */

.kit_grid_flex
{
/*  margin-left: calc(-1 * var(--grid-gutter-horizontal));*/
}

.kit_grid_flex > *
{
  /*padding-left: var(--grid-gutter-horizontal);*/
}