
@import 'variables.css';

:root
{
  --list_nested_padding_left: var(--global-gutter);

  --list_item_margin_top: var(--global-margin-small);

  --list_item_divider_margin_top: var(--global-margin-small);
  --list_item_divider_border_width: var(--global-border-width);
  --list_item_divider_border: var(--global-border-color);
}

.list li::before,
.list li::after
{ /* micro clearfix */
  content: "";
  display: table;
}

.list ul
{ /** nested lists **/
  padding-left: var(--list_nested_padding_left);
}

.list > li > :last-child
{ /* remove margin from the last child */
  margin-bottom: 0;
}

.list > li:nth-child(n+2),
.list > li > ul
{ /** list item margin */
  margin-top: var(--list_item_margin_top);
}

.list_divider > li:nth-child(n+2)
{ /** list item divider style */
  margin-top: var(--list_item_divider_margin_top);
  padding-top: var(--list_item_divider_margin_top);
  border-top: var(--list_item_divider_border_width) solid var(--list_item_divider_border);
}