/*doc

# List Module

*/


@import 'variables.css';



:root
{
  --list_nested_padding_left: var(--global-gutter);
  --list_item_margin_top: var(--global-margin-small);
  --list_item_divider_margin_top: var(--global-margin-small);
  --list_item_divider_border_width: var(--global-border-width);
  --list_item_divider_border: var(--global-border-width) solid var(--global-border-color);

  --list_style_type: none;
  --list_margin: 1em 0;
  --list_horizontal_padding: 0;
  --list_vertical_padding: 0;

  --list_item_horizontal_padding: 0;
  --list_item_vertical_padding: 3px;

  --list_item_padding: var(--list_item_horizontal_padding) var(--list_item_vertical_padding);
  --list_item_line_height: 1em;

  --list_item_content_line_height: var(--list_item_line_height);

  --list_style_position: outside;
  --list_item_content_padding: 0.5em;
  --list_item_content_vertical_align: center;

}

/*--------------------------------------------------------------------------------------------------------------------*/
/* List Component                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

.list
{
  list-style-type: var(--list_style_type);
  margin: var(--list_margin);
  padding: var(--list_horizontal_padding) var(--list_vertical_padding);
}

.list:first-child
{
  margin-top: 0;
  padding-top: 0;
}

.list:last-child
{
  margin-bottom: 0;
  padding-bottom: 0;
}

/*endregion*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* List Item                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

ul.list li,
ol.list li,
.list > .item,
.list .list > .item
{
  display: list-item;
  table-layout: fixed;
  list-style-type: var(--list_style_type);
  list-style-position: var(--list_style_position);

  padding: var(--list_item_padding);
  line-height: var(--list_item_line_height);
}

ul.list > li:first-child:after,
ol.list > li:first-child:after,
.list > .list > .item,
.list > .item:after
{
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul.list li:first-child,
ol.list li:first-child,
.list .list > .item:first-child,
.list > .item:first-child {
  padding-top: 0;
}
ul.list li:last-child,
ol.list li:last-child,
.list .list > .item:last-child,
.list > .item:last-child
{
  padding-bottom: 0;
}

/*endregion*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* List Item Content                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

.list .list > .item > .content,
.list > .item > .content
{
  line-height: var(--list_item_content_line_height);
}

.list .list > .item > .image + .content,
.list .list > .item > .icon + .content,
.list > .item > .image + .content,
.list > .item > .icon + .content
{
  display: table-cell;
  padding: 0 0 0 var(--list_item_content_padding);
  vertical-align: var(--list_item_content_vertical_align);
}
.list .list > .item > img.image + .content,
.list > .item > img.image + .content
{
  display: inline-block;
}
.list .list > .item > .content > .list,
.list > .item > .content > .list
{
  margin-left: 0;
  padding-left: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Divided List                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

.divided.list > .item,
.divided.list > li
{
  border-top: var(--list_item_divider_border);
}

.divided.list > .item:first-child,
.divided.list > li:first-child
{
  border-top: none;
}

.hidden.overflow
{
  overflow: hidden;
}

/*endregion*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* Horizontal List                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

.horizontal.list,
ul.horizontal.list,
ol.horizontal.list
{
  display: inline-block;
  white-space: nowrap;
}

.horizontal.list > .item,
ul.horizontal.list > li,
ol.horizontal.list > li
{
  display: inline-block;
  white-space: nowrap;
  position: relative;
  margin-left: var(--list_item_padding);
}

ul.horizontal.list li a
{
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  display: block;
}



.horizontal.list .list
{
  padding-left: 0;
  padding-bottom: 0;
}

.horizontal.list > .item > .image,
.horizontal.list .list > .item > .image,
.horizontal.list > .item > .icon,
.horizontal.list .list > .item > .icon,
.horizontal.list > .item > .content,
.horizontal.list .list > .item > .content
{
  vertical-align: var(--list_item_content_vertical_align);
}

.horizontal.list > .item:first-child,
.horizontal.list > .item:last-child,
ul.horizontal.list > .li:first-child,
ul.horizontal.list > .li:last-child,
ol.horizontal.list > .li:first-child,
ol.horizontal.list > .li:last-child
{
  padding-top: var(--list_item_vertical_padding);
  padding-bottom: var(--list_item_horizontal_padding);
}

/*endregion*/