/* Nav
** http://getmarkupkit.com
**(c) Thomas Schroeter <mailto: mail@tschroeter.com> and Investigative Reporters & Editors 2017
** markup_kit may be freely distributed under the MIT license
*/

@import 'variables.css';

:root
{
  --nav_default_item_color: var(--global-muted-color);
  --nav_default_item_hover_color: var(--global-foreground-color);
  --nav_default_item_active_color: var(--global-emphasis-color);

  --nav_margin_horizontal: 15px;
  --nav_margin_vertical: 5px;

  --nav_item_padding_horizontal: 5px;
  --nav_item_padding_vertical: 5px;

  --nav_item_pills_border-radius: var(--global_border_radius);

  --nav_dropdown_background: var(--global-muted-background);
}

.kit_nav ul
{
  margin: 0;
  padding: 0;
}

.kit_nav > ul,
nav > ul
{
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 var(--nav_margin_horizontal);
}

.kit_nav ul > *,
nav ul > *
{
  flex: none;
  margin-left: var(--nav_margin_horizontal);
}

.kit_nav li > a,
nav ul li > a
{
  display: block;
  text-decoration: none;
}

.kit_nav li > a:focus,
nav li > a:focus
{
  outline: none;
}

.kit_nav > li > a,
nav ul li > a
{
  color: var(--nav_default_item_color);
  padding: var(--nav_item_padding_vertical) var(--nav_item_padding_horizontal)
}

.kit_nav > li > a:hover,
.kit_nav > li > a:focus,
nav ul li > a:hover,
nav ul li > a:focus
{
  color: var(--nav_default_item_hover_color);
}

.kit_nav > li.kit_active > a,
nav ul li.kit_active > a
{
  color: var(--nav_default_item_active_color);
}

/* Justification */

.kit_nav.kit_expand ul li
{
  flex: 1 1 auto;
  text-align: center;
}

/** Pills **/

.kit_nav.kit_pills li.kit_active
{
  background: var(--global-background-primary);
  border-radius: var(--nav_item_pills_border-radius);
}

.kit_nav.kit_pills li.kit_active > a
{
  color: var(--global-inverse-color);
}

/** Vertical Navigation */

.kit_nav_vertical
{
  display: block;
}

.kit_nav_vertical > *
{
  padding-left: 0;
  margin-bottom: var(--nav_margin_vertical);
}

@media (--medium-up)
{
  .kit_nav.kit_vertical\@medium-up
  {
    display: block;
  }

  .kit_nav.kit_vertical\medium-up > *
  {
    padding-left: 0;
    margin-bottom: var(--nav_margin_vertical);
  }
}
