/* Off-canvas
 * Module to create an off-canvas sidebar. The module is used to hide the
 * navigation menu off canvas. This is especially useful for screens with small
 * viewport
 *
 * (c) Thomas Schroeter <mailto: mail@tschroeter.com> and Investigative Reporters & Editors 2017
 * markup_kit may be freely distributed under the MIT license
 */

/*!@{
//<!--------------------------------------------------------------------------------------------------------------------
//! @name Variables
//<!------------------------------------------------------------------------------------------------------------------*/
/*region*/

@import 'variables.css';

:root
{

}

/*endregion*/

/*!@{
//<!--------------------------------------------------------------------------------------------------------------------
//! @name Off-canvas Component
//! To apply the component add the off_canvas class to a parent div container
//! and use the sub-component classes
//<!------------------------------------------------------------------------------------------------------------------*/
/*region*/

:root
{
  --kit_off_canvas:
  {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

.kit_off_canvas
{
  @apply(--kit_off_canvas);
}

@media(--small-down)
{
  .kit_off_canvas\@small-down
  {
    @apply(--kit_off_canvas);
  }
}

@media(--medium-down)
{
  .kit_off_canvas\@medium-down
  {
    @apply(--kit_off_canvas);
  }
}

/*endregion*/
/*!@}*/

/*!@{
//<!--------------------------------------------------------------------------------------------------------------------
//! @name Bar Sub Component
//! Add this class to an child element
//<!------------------------------------------------------------------------------------------------------------------*/
/*region*/

:root
{
  --kit_off_canvas_bar:
  {
    /* set position ----------------------*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /* -----------------------------------*/
    background: #FFF;
    /* -----------------------------------*/
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* -----------------------------------*/
    transform: translateX(-100%);
    /* -----------------------------------*/
  }
}

.kit_off_canvas_bar
{
  @apply(--kit_off_canvas_bar);
}

@media (--small-down)
{
  .kit_off_canvas_bar\@small-down
  {
    @apply(--kit_off_canvas_bar);
  }
}

@media (--medium-down)
{
  .kit_off_canvas_bar\@medium-down
  {
    @apply(--kit_off_canvas_bar);
  }
}

/*endregion*/
/*!@}*/

.kit_off_canvas_checkbox_trigger:checked ~ [class*='kit_off_canvas'] [class*='kit_off_canvas_bar'],
.kit_off_canvas_open [class*='kit_off_canvas_bar']
{
  transform: translateX(0%);
}

.kit_off_canvas_checkbox_trigger:checked ~ [class*='kit_off_canvas_content']
{
  border: 1px solid red;
}
