/* off_canvas.css | MIT License | https://github.com/tschroeter/markup_kit */
/*doc

# Off-canvas Module

Module to create an off-canvas sidebar. The module is used to hide the navigation menu off canvas. This is especially
useful for screens with small viewport.

*/
/* dependencies */
@import 'variables.css';

/*--------------------------------------------------------------------------------------------------------------------*/
/* Variables                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

:root
{
}

/*endregion*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* Off-canvas Component                                                                                               */
/*--------------------------------------------------------------------------------------------------------------------*/
/*doc
## Of-canvas Component

To apply the component add the off_canvas class to a parent div container and use the sub-component classes
*/
/*region*/

.off_canvas
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

@media (--small-down)
{
  .off_canvas\@small-down
  {
    @extend .off_canvas;
  }
}

@media (--medium-down)
{
  .off_canvas\@medium-down
  {
    @extend .off_canvas;
  }
}

/*endregion*/
/*!@}*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* Off-canvas Bar Sub-component                                                                                       */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/


.off_canvas_bar
{
  /* set position ----------------------*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  /* -----------------------------------*/
  background: #FFF;
  /* -----------------------------------*/
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* -----------------------------------*/
  transform: translateX(-100%);
  /* -----------------------------------*/
}

@media (--small-down)
{
  .off_canvas_bar\@small-down
  {
    @extend .off_canvas_bar;
  }
}

@media (--medium-down)
{
  .off_canvas_bar\@medium-down
  {
    @extend .off_canvas_bar;
  }
}

/*endregion*/

.off_canvas_checkbox_trigger:checked ~ [class*='off_canvas'] [class*='off_canvas_bar'],
.off_canvas_open [class*='off_canvas_bar']
{
  transform: translateX(0%);
}

.off_canvas_checkbox_trigger:checked ~ [class*='off_canvas_content']
{
  border: 1px solid red;
}
