/* Positioning
 * Module to place elements outside of the normal document flow.
 *
 * (c) Thomas Schroeter <mailto: mail@tschroeter.com> and Investigative Reporters & Editors 2017
 * markup_kit may be freely distributed under the MIT license
 */

@import 'variables.css';

/*[class*='kit_top'],
[class*='kit_bottom'],
[class*='kit_left'],
[class*='kit_right'],
[class*='kit_center']
{
  position: absolute !important;
}*/

.kit_fixed
{
  position: fixed !important;
  z-index: 1000 !important;
}

.kit_right
{
  top: 0;
  bottom: 0;
  right: 0;
}

.kit_left
{
  top: 0;
  bottom: 0;
  left: 0;
}

.kit_top_left
{
  top: 0;
  left: 0;
}

.kit_top_right
{
  top: 0;
  right: 0;
}

.kit_bottom_left
{
  bottom: 0;
  left: 0;
}

.kit_bottom_right
{
  bottom: 0;
  right: 0;
}

@media (--medium-up)
{
  .kit_fixed\@medium-up
  {
    position: fixed !important;
    z-index: 1000 !important;
  }

  .kit_right\@medium-up
  {
    top: 0;
    bottom: 0;
    right: 0;
  }

  .kit_top_left\@medium-up
  {
    top: 0;
    left: 0;
  }

  .kit_top_right\@medium-up
  {
    top: 0;
    right: 0;
  }

  .kit_bottom_left\@medium-up
  {
    bottom: 0;
    left: 0;
  }

  .kit_bottom_right\@medium-up
  {
    bottom: 0;
    right: 0;
  }
}

