/* positioning.css | MIT License | https://github.com/tschroeter/markup_kit */
/*doc

# Positioning Module

 Module to place elements outside of the normal document flow.

*/

@import 'variables.css';

/*[class*='kit_top'],
[class*='kit_bottom'],
[class*='kit_left'],
[class*='kit_right'],
[class*='kit_center']
{
  position: absolute !important;
}*/

.fixed
{
  position: fixed !important;
  z-index: 9999 !important;
}

.right
{
  top: 0;
  bottom: 0;
  right: 0;
}

.left
{
  top: 0;
  bottom: 0;
  left: 0;
}

.top_left
{
  top: 0;
  left: 0;
}

.top_right
{
  top: 0;
  right: 0;
}

.bottom_left
{
  bottom: 0;
  left: 0;
}

.bottom_right
{
  bottom: 0;
  right: 0;
}

@media (--medium-up)
{
  .fixed\@medium-up
  {
    position: fixed !important;
    z-index: 9999 !important;

  }

  .right\@medium-up
  {
    top: 0;
    bottom: 0;
    right: 0;
  }

  .top_left\@medium-up
  {
    top: 0;
    left: 0;
  }

  .top_right\@medium-up
  {
    top: 0;
    right: 0;
  }

  .bottom_left\@medium-up
  {
    bottom: 0;
    left: 0;
  }

  .bottom_right\@medium-up
  {
    bottom: 0;
    right: 0;
  }
}

