/* Sizing
 * Module to define the width or height of elements especially for different viewport sizes.
 *
 * (c) Thomas Schroeter <mailto: mail@tschroeter.com> and Investigative Reporters & Editors 2017
 * markup_kit may be freely distributed under the MIT license
 */

/*!@{
//<!--------------------------------------------------------------------------------------------------------------------
//! @name Variables
//<!------------------------------------------------------------------------------------------------------------------*/
/*region*/

@import 'variables.css';

:root
{
  --kit_width_small: 150px;
  --kit_width_medium: 300px;
  --kit_width_large: 450px;
  --kit_width_xl: 600px;
  --kit-width-xxl: 750px;
}

/*endregion*/
/*!@}*/

/*!@{
//<!--------------------------------------------------------------------------------------------------------------------
//! @name Width Modifiers
//<!------------------------------------------------------------------------------------------------------------------*/
/*region*/

.kit_width_1_1
{
  width: 100%;
}

.kit_child_width_1_4 > *,
.kit_width_1_4
{
  width: 25%;
}

.kit_child_width_2_5 > *,
.kit_width_2_5
{
  width: 40%;
}

.kit_child_width_3_5 > *,
.kit_width_3_5
{
  width: 60%;
}

.kit_child_width_3_4 > *,
.kit_width_3_4
{
  width: 75%;
}

@media (--small-up)
{

}

@media (--medium-up)
{
  .kit_child_width_1_1\@medium-up,
  .kit_child_width\@medium-up > *,
  .kit_width_1_1\@medium-up,
  .kit_width\@medium-up
  {
    width: 100%;
  }

  .kit_child_width_1_2\@medium-up > *
  {
    width: 50%;
  }

  .kit_child_width_1_4\@medium-up > *,
  .kit_width_1_4\@medium-up
  {
    width: 25%;
  }

  .kit_child_width_1_5\@medium-up > *
  {
    width: 20%;
  }

  .kit_child_width_3_4\@medium-up > *,
  .kit_width_3_4\@medium-up
  {
    width: 75%;
  }

}

@media (--large-up)
{
  .kit_child_width_1_1\@large-up,
  .kit_child_width\@large-up > *
  {
    width: 100%;
  }

  .kit_child_width_1–2\@large-up > *
  {
    width: 50%;
  }

  .kit_child_width_1–4\@large-up > *
  {
    width: 25%;
  }

  .kit_child_width_1–5\@large-up > *
  {
    width: 20%;
  }

}

@media (--xxl-up)
{

}

/*endregion*/
/*!@}*/

/*!@{
//<!--------------------------------------------------------------------------------------------------------------------
//! @name Height Modifiers
//<!------------------------------------------------------------------------------------------------------------------*/
/*region*/


.kit_height_vp
{
  min-height: 100vh;
}

.kit_height_vp_4_5
{
  min-height: 80vh;
}

.kit_height_vp_3_5
{
  min-height: 60vh;
}



/*endregion*/
/*!@}*/