/* spacing.css | MIT License | https://github.com/tschroeter/markup_kit */
/*doc

# Spacing Module

Module to define margin or padding values to an element especially for different viewport sizes

*/
/* dependencies */
@import 'variables.css';

/*--------------------------------------------------------------------------------------------------------------------*/
/* Variables                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

:root
{
  --margin: var(--global-margin);
  --padding: var(--global-gutter);
}

/*endregion*/

.margin
{
  margin-bottom: var(--margin);
}

* + .margin
{
  margin-top: var(--margin) !important;
}

.padding
{
  padding: var(--padding);
}