.kit_box_shadow_small
{
  box-shadow: var(--global_box_shadow_small);
}

.kit_box_shadow_medium
{
  box-shadow: var(--global_box_shadow_medium);
}

.kit_box_shadow_large
{
  box-shadow: var(--global_box_shadow_large);
}

.kit_box_shadow_xxl
{
  box-shadow: var(--global_box_shadow_xlarge);
}