:root
{
  /* Foreground Colors */
  --global-foreground-color: #666;
  --global-emphasis-color: #333;
  --global-muted-color: #999;
  --global-inverse-color: #fff;

  --global-link-color: #1e87f0;
  --global-link-hover-color: #0f6ecd;

  /* Background Colors */
  --global-background: #fff;
  --global-muted-background: #f8f8f8;
  --global-background-primary: #1e87f0;
  --global-background-secondary: #222;

  --global-success-background: #32d296;
  --global-warning-background: #faa05a;
  --global-danger-background: #f0506e;

  /* Typography */
  --global-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --global-font-size: 16px;
  --global-line-height: 1.5;

  --global-small-font-size: 0.875rem;
  --global-medium-font-size: 1.25rem;
  --global-large-font-size: 1.5rem;
  --global-xlarge-font-size: 2rem;
  --global-xxlarge-font-size: 2.625rem;

  /* Borders */
  --global-border-width: 1px;
  --global-border-color: #e5e5e5;

  /* Spacings */
  --global-gutter: 30px;
  --global-gutter-small: 15px;
  --global-gutter-medium: 40px;
  --global-gutter-large: 70px;

  --global-margin: 20px;
  --global-margin-small: 10px;
  --global-margin-medium: 40px;
  --global-margin-large: 70px;
  --global-margin-xlarge: 140px;

  /* Controls */

  --global-control-height: 40px;
  --global-control-height-small: 30px;
  --global-control-height-large: 55px;

  /* Z-Index */
  --global-z-index: 1000;

  /* Box Shadows */

  --global_box_shadow_small: 0 2px 8px rgba(0, 0, 0, 0.08);
  --global_box_shadow_medium: 0 5px 15px rgba(0, 0, 0, 0.08);
  --global_box_shadow_large: 0 14px 25px rgba(0, 0, 0, 0.16);
  --global_box_shadow_xlarge: 0 28px 50px rgba(0, 0, 0, 0.16);

  /* Border Radius */
  --global_border_radius: .25rem;

}

@custom-media --small (width > 640px);
@custom-media --medium (width > 960px);
@custom-media --large (width > 1200px);
@custom-media --xxl (width > 1600px);




