/* Visibility
 * Module to display or hide elements especially for different viewport sizes
 *
 * (c) Thomas Schroeter <mailto: mail@tschroeter.com> and Investigative Reporters & Editors 2017
 * markup_kit may be freely distributed under the MIT license
 */

@import 'variables.css';

.kit_invisible
{
  visibility: hidden !important;
}

@media (--small-up)
{
  .kit_visible\@small-up
  {
    visibility: visible !important;
  }

  .kit_hidden\@small-up
  {
    display: none !important;
  }
}

@media (--medium-up)
{
  .kit_visible\@medium-up
  {
    visibility: visible !important;
  }

  .kit_hidden\@medium-up
  {
    display: none !important;
  }
}