/* visibility.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

*/
@import 'variables.css';

.invisible
{
  visibility: hidden !important;
}

@media (--small-up)
{
  .visible\@small-up
  {
    visibility: visible !important;
  }

  .hidden\@small-up
  {
    display: none !important;
  }
}

@media (--medium-up)
{
  .visible\@medium-up
  {
    visibility: visible !important;
  }

  .hidden\@medium-up
  {
    display: none !important;
  }
}