/* normalisation.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Normalisation Module

*/

*, *:before, *:after
{
  box-sizing: inherit;
}

html
{
  box-sizing: border-box;
  /* Prevent adjustments of font size after orientation changes on Windows Phone and iOS */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body
{
  margin: 0; /* remove body margin */
}