:root
{
  --grid-cell-gutter : 5px;
}

.ui.control.group
{
  background-color : transparent;
  margin-top       : auto;

  /* default cell width based on child count */
  /* @formatter:off */
  & > *:nth-last-child(2):first-child { &, & ~ * {flex-basis: auto; width: calc((100% / 2) - var(--grid-cell-gutter));}}
  & > *:nth-last-child(3):first-child { &, & ~ * {flex-basis: auto; width: calc((100% / 3) - var(--grid-cell-gutter));}}
  & > *:nth-last-child(4):first-child { &, & ~ * {flex-basis: auto; width: calc((100% / 4) - var(--grid-cell-gutter));}}
  & > *:nth-last-child(5):first-child { &, & ~ * {flex-basis: auto; width: calc((100% / 5) - var(--grid-cell-gutter));}}
  & > *:nth-last-child(6):first-child { &, & ~ * {flex-basis: auto; width: calc((100% / 6) - var(--grid-cell-gutter));}}
  /* @formatter:on */
}

