/* aside.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Flank

The Flank module is used to show related content outside the boundaries of the surrounding content

*/

@import 'base/include.css';

:root
{
  --dividing-flank-border-width:       1px;
  --dividing-flank-border:             var(--dividing-flank-border-width) solid var(--global-muted-color);
  
}

.flank
{
  position: absolute !important;
  top: 0;
  width: 300px;
  height: 100%;
}

.left.flank
{
  left: auto !important;
  right: 100% !important;
  /*padding: 0 var(--global-gutter) 0 0;*/
  /*margin: 0 2rem 0 0;*/
}

.right.flank
{
  left: 100%;
  right: auto;
  /*padding: 0 0 0 var(--global-gutter);
  margin: 0 0 0 var(--global-gutter);*/
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Dividing                                                                                                           */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

.left.dividing.flank {
  border-right: var(--dividing-flank-border);
}

/*endregion*/