/* item.css | MIT License | github.com/tschroeter/markup_kit */
@import 'base/include.css';


/*doc

# Item

A item is used to create a visual grouping of related content

## Usage

## Styling

| Class         | Description                                                          |
| ------------- | -------------------------------------------------------------------- |
| 'item'        | Defines a default item                                               |
| 'raised item' | A item may be formatted to raise above the page                      |
| 'blank item'  | A blank item will be used to remove any styling but preserve padding |

*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* Variables                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

:root
{
  --segment_background:         var(--global-background);
  --segment_box_shadow:         var(--global_subtle_shadow);
  --segment_vertical_margin:    1em;
  --segment_horizontal_margin:  0em;
  --segment_margin:             var(--segment_vertical_margin) var(--segment_horizontal_margin);
  --segment_vertical_padding:   1em;
  --segment_horizontal_padding: 1em;
  --segment_padding:            var(--segment_vertical_padding) var(--segment_horizontal_padding);
  --segment_border_radius:      var(--global_border_radius);
  --segment_border_width:       1px;
  --segment_border:             var(--segment_border_width) solid var(--global-muted-color);
  --raised-item-shadow:         var(--global-floating-shadow);
  --grouped-item-margin:        0;
}


/*endregion*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* Default Item                                                                                                       */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*doc

### Default Item

<div class="item">
  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
  feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
  mi vitae est. Mauris placerat eleifend leo.
</div>
*/

ul.items,
.items ul
{
  padding:         0;
  margin:          0;
  list-style-type: none;
}


.item,
.items li
{
  /*position:      relative;*/
  background:      var(--segment_background);
  box-shadow:      var(--segment_box_shadow);
  margin:          var(--segment_margin);
  padding:         var(--segment_padding);
  border-radius:   var(--segment_border_radius);
  border:          var(--segment_border);
  list-style-type: none;
}


.item:first-child
{ margin-top: 0; }


.item:last-child
{ margin-bottom: 0; }


/*endregion*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* Raised Item                                                                                                        */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*doc
### Raised Item

<div class="raised item">
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
mi vitae est. Mauris placerat eleifend leo.
</div>
*/

.raised.item,
.raised.items li
{
  box-shadow: var(--raised-item-shadow);
}


/*endregion*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* Blank Item                                                                                                         */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

.blank.item,
.blank.items li
{
  background: none transparent;
  border:     none;
  box-shadow: none;
}


/*endregion*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* Grouping Items                                                                                                         */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*doc

 */

.grouped.items > .item,
.grouped.items li
{
  margin: var(--grouped-item-margin);
}