:root
{
  --global_box_sizing: border-box;

  /* Foreground Colors */
  --global-foreground-color: #666;
  --global-emphasis-color: #333;
  --global-muted-color: rgba(0,0,0,0.13);
  --global-inverse-color: #FFF;
  --global-link-color: #1E87F0;
  --global-link-hover-color: #0F6ECD;

  /* Background Colors */
  --global-background: #FFF;
  --global-muted-background: #E0E1E2;
  --global-background-primary: #1E87F0;
  --global-background-secondary: #222;
  --global-success-background: #32D296;
  --global-warning-background: #FAA05A;
  --global-danger-background: #F0506E;

  /* Typography */
  --global-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
  --global-font-size: 16px;
  --global-em-size: 16;
  --global-line-height: 1.5;
  --global-font-size-h1: 2em;
  --global-font-size-h2: 1.7142857143em;
  --global-font-size-h3: 1.2857142857em;
  --global-font-size-h4: 1.0714285714em;
  --global-font-size-h5: 1em;
  --global-font-size-h4-sub: 1em;
  --global-mini-font-size: 0.625rem;
  --global-small-font-size: 0.875rem;
  --global-medium-font-size: 1.25rem;
  --global-large-font-size: 1.5rem;
  --global-xlarge-font-size: 2rem;
  --global-xxlarge-font-size: 2.625rem;
  
  /* Borders */
  --global-border-width: 1px;
  --global-border-color: #D4D4D5;
  --global-border-radius: 0.25rem;
  --global-circular-radius: 500em;

  /* Spacings */
  --global-gutter: 30px;
  --global-gutter-small: 15px;
  --global-gutter-medium: 40px;
  --global-gutter-large: 70px;
  --global-margin: 20px;
  --global-margin-small: 10px;
  --global-margin-medium: 40px;
  --global-margin-large: 70px;
  --global-margin-xlarge: 140px;

  /* Controls */
  --global-control-height: 40px;
  --global-control-height-small: 30px;
  --global-control-height-large: 55px;

  /* Z-Index */
  --global-layer: 100;
  --global-component-layer: var(--global-layer);
  --global-component-background-layer: 50;
  --global-component-foreground-layer: 200;
  --global-fixed-layer: 1000;
  --global-sticky-layer: 1000;

  /* Box Shadows */
  --global_subtle_shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
  --global_box_shadow_small: 0 2px 8px rgba(0, 0, 0, 0.08);
  --global_box_shadow_medium: 0 5px 15px rgba(0, 0, 0, 0.08);
  --global_box_shadow_large: 0 14px 25px rgba(0, 0, 0, 0.16);
  --global_box_shadow_xlarge: 0 28px 50px rgba(0, 0, 0, 0.16);
  
  --global-floating-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);

  /* Border Radius */
  --global_border_radius: .25rem;
  --global_sm_width: 640px;
  --global_md_width: 960px;
  --global_lg_width: 1200px;
  --global_xl_width: 1600px;
  
  --global-small-size: calc(13 / 14);
  
  --global-relative-small: calc(var(--global-small-size) * var(--global-em-size) / var(--global-em-size))em;

  --global-3px: calc(3 / var(--global-em-size))rem;
  --global-4px: calc(4 / var(--global-em-size))rem;
  --global-6px: calc(6 / var(--global-em-size))rem;
  --global-26px: calc(26 / var(--global-em-size))rem;
  
  --global-relative-11px: calc(11 / var(--global-em-size))em;
  
  --global-relative-26px: calc(26 / var(--global-em-size))em;
  
  --global-column-count: 16;
  --global-1-wide: calc(1 / var(--global-column-count) * 100%);
  --global-2-wide: calc(2 / var(--global-column-count) * 100%);
  --global-3-wide: calc(3 / var(--global-column-count) * 100%);
  --global-4-wide: calc(4 / var(--global-column-count) * 100%);
  --global-5-wide: calc(5 / var(--global-column-count) * 100%);
  --global-6-wide: calc(6 / var(--global-column-count) * 100%);
  --global-7-wide: calc(7 / var(--global-column-count) * 100%);
  --global-8-wide: calc(8 / var(--global-column-count) * 100%);
  --global-9-wide: calc(9 / var(--global-column-count) * 100%);
  --global-10-wide: calc(10 / var(--global-column-count) * 100%);
  --global-11-wide: calc(11 / var(--global-column-count) * 100%);
  --global-12-wide: calc(12 / var(--global-column-count) * 100%);
  --global-13-wide: calc(13 / var(--global-column-count) * 100%);
  --global-14-wide: calc(14 / var(--global-column-count) * 100%);
  --global-15-wide: calc(15 / var(--global-column-count) * 100%);
  --global-16-wide: calc(16 / var(--global-column-count) * 100%);
}

@custom-media --small-up (width > 640px);
@custom-media --medium-up (width > 960px);
@custom-media --large-up (width > 1200px);
@custom-media --xxl-up (width > 1600px);

@custom-media --small-down (width <= 640px);
@custom-media --medium-down (width <= 960px);





