@import '../variables.css';

:root
{
  --body-background:     var(--global-background);
  --body-font-family:    var(--global-font-family);
  --body-font-weight:    normal;
  --body-letter-spacing: .01em;
  --body-font-size:      var(--global-font-size);
  --body-line-height:    var(--global-line-height);
  --body-color:          var(--global-foreground-color);
}

/* some top level definitions for general styles on the body-tag */
body
{
  font-family:    var(--body-font-family);
  font-weight:    var(--body-font-weight);
  color:          var(--body-color);
  line-height:    var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
  background:     var(--body-background);
}