:root
{
  --body-background: var(--global-background);
  --body-font-family: var(--global-font-family);
  --body-font-weight: normal;
  --body-font-size: var(--global-font-size);
  --body-line-height: var(--global-line-height);
  --body-foreground-color: var(--global-foreground-color);

  --link-text-decoration: none;
  --link-text-decoration-hover: underline;

  --margin-vertical: var(--global-margin);

  --heading-font-family: var(--global-font-family);
  --heading-font-weight: normal;
  --heading-foreground-color: var(--global-emphasis-color);
  --heading-text-transform: none;
  --heading-margin-top: var(--global-margin-medium);
  --heading-font-size-h1: var(--global-xxlarge-font-size);
  --heading-line-height-h1: 1.2;
  --heading-font-size-h2: var(--global-xlarge-font-size);
  --heading-line-height-h2: 1.3;
  --heading-font-size-h3: var(--global-large-font-size);
  --heading-line-height-h3: 1.4;
  --heading-font-size-h4: var(--global-medium-font-size);
  --heading-line-height-h4: 1.4;
  --heading-font-size-h5: var(--global-font-size);
  --heading-line-height-h5: 1.4;
  --heading-font-size-h6: var(--global-small-font-size);
  --heading-line-height-h6: 1.4;

}

*
{
  padding: 0;
  margin: 0;
  border: 0 solid;
  outline: 0;

  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;

  text-align: inherit;

  vertical-align: baseline;

  background-color: transparent;
  color: inherit;

  box-sizing: inherit;

  text-size-adjust: 100%;
}

html
{
  text-size-adjust: none;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);

  background: var(--body-background);
  color: var(--body-foreground-color);

  box-sizing: border-box;
}

a
{
  /* remove gap in links underline in iOS 8+ and Safari 8+ */
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover
{
  outline: 0;
}

a,
.kit-link
{
  color: var(--global-link-color);
  text-decoration: var(--link-text-decoration);
  cursor: pointer;
}

a:hover,
.kit-link:hover
{
  color: var(--global-link-hover-color);
  text-decoration: var(--link-text-decoration-hover);
}

/* margins */

p,
ul,
dl,
pre,
address,
fieldset,
figure
{
  margin: 0 0 var(--margin-vertical) 0;
  list-style-type: none;
}

* + p,
* + ul,
* + ol,
* + dl,
* + pre,
* + address,
* + fieldset,
* + figure
{ /* adjacent element margin */
  margin-top: var(--margin-vertical);
}

/* headings */

h1, .kit-h1,
h2, .kit-h2,
h3, .kit-h3,
h4, .kit-h4,
h5, .kit-h5,
h6, .kit-h6
{
  margin: 0 0 var(--margin-vertical) 0;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: var(--heading-foreground-color);
  text-transform: var(--heading-text-transform);
}

* + h1, * + .kit-h1,
* + h2, * + .kit-h2,
* + h3, * + .kit-h3,
* + h4, * + .kit-h4,
* + h5, * + .kit-h5,
* + h6, * + .kit-h6
{ /* adjacent element margin */
  margin-top: var(--heading-margin-top);
}

h1, .kit_h1
{
  font-size: var(--heading-font-size-h1);
  line-height: var(--heading-line-height-h1);
}

h2, .kit_h2
{
  font-size: var(--heading-font-size-h2);
  line-height: var(--heading-line-height-h2);
}

h3, .kit_h3
{
  font-size: var(--heading-font-size-h3);
  line-height: var(--heading-line-height-h3);
}

h4, .kit_h4
{
  font-size: var(--heading-font-size-h4);
  line-height: var(--heading-line-height-h4);
}

h5, .kit_h5
{
  font-size: var(--heading-font-size-h5);
  line-height: var(--heading-line-height-h5);
}

h6, .kit_h6
{
  font-size: var(--heading-font-size-h6);
  line-height: var(--heading-line-height-h6);
}

/* html5 elements */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary
{
  display: block;
  width: 100%; /* ???? */
}

b, strong
{
  font-weight: bold;
}