.ui.control
{
  display         : inline-block;
  vertical-align  : baseline;
  position        : relative;
  font-size       : 1em;
  line-height     : 1.5;
  font-family     : inherit;
  background      : #e8e8e8;
  padding         : 0;
  justify-content : space-between;
  outline         : none;
  appearance      : none;
  max-width       : 100%;
}

.ui.control > *:not(.control),
input.ui.control
{
  padding-left  : .35em;
  padding-right : .35em;
  font-size       : 1em;
  line-height     : 1.5;
}



.ui.control:not(input)
{
  display:        inline-flex;
  flex-wrap       : wrap;
}

.ui.control > input,
.ui.control > textarea,
.ui.control > select
{
  appearance: none;
}

.ui.input.control:focus-within
{
  border-color  : var(--control-input-border-color-active);
  border-radius : var(--control-focus-ring-border-radius);
  box-shadow    : var(--control-input-box-shadow-active);
  transition    : opacity .2s;
}

