.ui.field
{
  margin : calc(1em + 4px + var(--control-margin-top)) 0 var(--control-margin-bottom);
}

.ui.field > .label
{
  display       : inline-block;
  text-overflow : ellipsis;
  white-space   : nowrap;
  overflow      : hidden;
  align-self    : flex-start;
  font-size     : 1em;
  line-height   : 1.2;
  //height        : 1.2em;
  display       : block;
  order         : -1000;
  flex          : 1 1 100%;
  margin-top    : calc(-1.2em - 4px);
  margin-bottom : 4px;
  padding-left  : .2rem;
  color         : var(--control-label-color);
  position      : absolute;
}
