.ui.input
{
  position        : relative;
  background      : var(--control-input-background-color);
  padding-top     : .2rem;
  padding-bottom  : .2rem;
  border-width    : var(--border-width);
  border-style    : var(--border-style);
  border-radius   : var(--control-input-border-radius);
  padding-left  : .35em;
  padding-right : .35em;
  line-height     : 1.5;
}

.ui.input > input,
.ui.input > textarea
{
  flex: 1 1 auto;
  appeareance: none;
}

.ui.input > .ui.select,
.ui.input > input,
.ui.input > textarea,
.ui.select > select
{
  border: none;
  box-shadow: none;
  margin: 0;
  outline: none;
  padding: 0;
}

.ui.input > .ui.select > select
{
  padding-top: 0;
  padding-bottom: 0;
}

.ui.input > *:not(input)
{
  flex: 0 0 auto;
}

.ui.input:not(:focus-within)
{
  border-color    : var(--control-input-border-color);
  box-shadow      : var(--control-input-outer-box-shadow-hlen) var(--control-input-outer-box-shadow-vlen) var(--control-input-outer-box-shadow-blur-radius) var(--control-input-outer-box-spread-radius) var(--control-input-outer-box-shadow-color), inset var(--control-input-inner-box-shadow-hlen) var(--control-input-inner-box-shadow-vlen) var(--control-input-inner-box-shadow-blur-radius) var(--control-input-inner-box-spread-radius) var(--control-input-inner-box-shadow-color);
}

.ui.input > input
{
  display: inline-block;
}
