.ui.box
{
  display         : inline-flex;
  min-width       : auto;
  width           : auto;
  flex-direction  : column;
  justify-content : center;
}

.ui.box.horizontal
{
  flex-direction  : row;
  flex-wrap       : wrap;
  justify-content : space-between;
}

div.ui.box
{
  display : flex;
}

.ui.box > *
{
  display: block;
}

/*----------------------------------------------------------------------------------------------------------------*/
/* Padding                                                                                                        */
/*----------------------------------------------------------------------------------------------------------------*/
/*region*/

.ui.box > .box, .ui.box > .header, .ui.box > .footer
{
  padding : var(--box-vpadding) 0;
}

.ui.box.basic,
.ui.box.basic > .box,
.ui.box.basic > .header,
.ui.box.basic > .footer
{
  padding : var(--box-vpadding) var(--box-hpadding);
}

.ui.box.horizontal > .box
{
  padding : var(--box-vpadding) var(--box-hpadding);
}

/*endregion*/

/*----------------------------------------------------------------------------------------------------------------*/
/* Margins                                                                                                        */
/*----------------------------------------------------------------------------------------------------------------*/
/*region*/

.ui.box
{
  margin          : var(--box-vmargin) 0;
}

.ui.box > *:not(.header):not(.footer)
{
  margin-top    : 0;
  margin-bottom : 0;
}

.ui.box > .header
{
  margin-top: auto;
}

.ui.box > .footer
{
  margin-bottom: auto;
}

.ui.box > * + .box.basic
{
  margin : calc(var(--box-vmargin) / 2) 0;
}

.ui.box > * + .box.basic + :last-of-type
{
  margin-top : calc(-1 * var(--box-vmargin) / 2)
}

.ui.box .box:not(.basic) + .box.basic
{
  margin-top : var(--box-vmargin);
}

.ui.box .box.basic + .box:not(.basic):not(:last-of-type)
{
  margin-top : calc(var(--box-vmargin) / 2);
}

.ui.box.basic > .header,
.ui.box.basic > .footer,
.ui.box.basic > .box:not(.basic)
{
  margin-left : calc(-1 * var(--box-hmargin));
}

.ui.box > .header
{
  margin-top : calc(-1 * var(--box-vmargin));
}

.ui.box > .footer
{
  margin-bottom : calc(-1 * var(--box-vmargin));
}

/*endregion*/

/*----------------------------------------------------------------------------------------------------------------*/
/* Nested Width                                                                                                   */
/*----------------------------------------------------------------------------------------------------------------*/
/*region*/

.ui.box:not(.horizontal) > .box
{
  width : 100%;
}

.ui.box.basic > .header,
.ui.box.basic > .footer,
.ui.box.basic > .box:not(.basic)
{
  width : calc(100% + 2 * var(--box-hmargin));
}

.ui.box.horizontal > *
{
  flex : 0 0 auto;
}

.ui.box.horizontal > .box:nth-last-child(2n):first-child,
.ui.box.horizontal > .box:nth-last-child(2n):first-child ~ .box
{
  width : calc((100% / 2) - ((var(--box-hmargin) * 1 / 2)));
}

.ui.horizontal.basic > .box:not(.basic):nth-last-child(2n):first-child,
.ui.horizontal.basic > .box:not(.basic):nth-last-child(2n):first-child ~ .box:not(.basic)
{
  width : calc((100% / 2) - (((var(--box-hmargin) * 1) / 2)) + var(--box-hmargin));
}

.ui.box.horizontal > .box:nth-last-child(3n):first-child,
.ui.box.horizontal > .box:nth-last-child(3n):first-child ~ .box
{
  width : calc((100% / 3) - ((var(--box-hmargin) * 2 / 3)));
}

.ui.horizontal.basic > .box:not(.basic):nth-last-child(4n):first-child,
.ui.horizontal.basic > .box:not(.basic):nth-last-child(4n):first-child ~ .box:not(.basic)
{
  width : calc((100% / 4) - (((var(--box-hmargin) * 3) / 4)) + var(--box-hmargin));
}

.ui.horizontal.basic > .box:not(.basic):nth-last-child(4n):first-child,
.ui.horizontal.basic > .box:not(.basic):nth-last-child(4n):first-child ~ .box:not(.basic)
{
  width : calc((100% / 4) - (((var(--box-hmargin) * 3) / 4)) + var(--box-hmargin));
}

/*endregion*/

/*----------------------------------------------------------------------------------------------------------------*/
/* Basic Styling                                                                                                  */
/*----------------------------------------------------------------------------------------------------------------*/
/*region*/

/** border styling **/
.ui.box.basic
{
  border-radius : var(--box-basic-border-radius);
  border        : var(--box-basic-border);
}

.ui.basic > .header
{
  background-color : var(--box-header-background-color);
  border-bottom    : var(--box-basic-border);
}

.ui.basic > .footer
{
  border-top : var(--box-basic-border);
}


/*endregion*/
