.ui.box
{
  display         : inline-flex;
  min-width       : auto;
  width           : auto;

  vertical-align  : baseline;
  justify-content : space-between;

  flex-direction  : row;
  flex-wrap       : wrap;
}

.ui.stacked.box,
.ui.hero.box
{
  flex-direction  : column;
  justify-content : center;
}

/*.ui.box.horizontal
{
  flex-direction  : row;
  flex-wrap       : wrap;
  justify-content : space-between;
}*/

div.ui.box,
nav.ui.box,
header.ui.box,
section.ui.box
{
  display : flex;
}

/*div.ui.box > *,
nav.ui.box  > *,
header.ui.box  > *,
section.ui.box  > *
{
  width: 100%;
}*/

/*----------------------------------------------------------------------------------------------------------------*/
/* Padding                                                                                                        */
/*----------------------------------------------------------------------------------------------------------------*/
/*region*/

.ui.box > .box, .ui.box > .header, .ui.box > .footer
{
  padding : var(--box-vpadding) 0;
}

.ui.box.basic,
.ui.box.hero,
.ui.box.basic > .box,
.ui.box.basic > .header,
.ui.box.basic > .footer
{
  padding : var(--box-vpadding) var(--box-hpadding);
}

.ui.box.hero.medium
{
  padding : var(--box-vpadding-medium) var(--box-hpadding);
}

.ui.box.hero.large
{
  padding : var(--box-vpadding-large) var(--box-hpadding);
}

.ui.box:not(.stacked) > .box
{
  padding : var(--box-vpadding) var(--box-hpadding);
}

/*endregion*/

/*----------------------------------------------------------------------------------------------------------------*/
/* Margins                                                                                                        */
/*----------------------------------------------------------------------------------------------------------------*/
/*region*/

.ui.box
{
  margin          : calc(var(--box-vmargin) / 2) 0;
}

.ui.box > *
{
  margin: 0 calc(var(--box-hmargin) / 2);
}

.ui.box > *:first-child
{
  margin-left: 0;
}

.ui.box > *:last-child
{
  margin-right: 0;
}

div.ui.box:not(.nav) > *,
header.ui.box:not(.nav) > *,
section.ui.box:not(.nav) > *
{
  margin-left: 0;
  margin-right: 0;
}

.ui.box > .header
{
  margin-bottom: auto;
}

.ui.box > .footer
{
  margin-top: auto;
}

.ui.box.stacked > * + .box.basic
{
  margin : calc(var(--box-vmargin) / 2) 0;
}

.ui.box.stacked > * + .box.basic + :last-of-type:not(.footer)
{
  margin-top : calc(-1 * var(--box-vmargin) / 2)
}

.ui.box.stacked .box:not(.basic) + .box.basic
{
  margin-top : var(--box-vmargin);
}

.ui.box .box.basic + .box:not(.basic):not(:last-of-type)
{
  margin-top : calc(var(--box-vmargin) / 2);
}

.ui.box.basic > .header,
.ui.box.basic > .footer,
.ui.box.basic > .box:not(.basic)
{
  margin-left : calc(-1 * var(--box-hmargin));
}

.ui.box.basic > .header,
.ui.box.basic > .footer
{
  margin-right : calc(-1 * var(--box-hmargin));
}


.ui.box > .header
{
  margin-top : calc(-1 * var(--box-vmargin));
}

.ui.box > .footer
{
  margin-bottom : calc(-1 * var(--box-vmargin));
}

/*endregion*/

/*----------------------------------------------------------------------------------------------------------------*/
/* Nested Width                                                                                                   */
/*----------------------------------------------------------------------------------------------------------------*/
/*region*/

/*.ui.box:not(.horizontal) > .box
{
  width : 100%;
}*/

.ui.box.basic > .header,
.ui.box.basic > .footer,
.ui.box.basic > .box:not(.basic)
{
  width : calc(100% + 2 * var(--box-hmargin));
}

.ui.box:not(.stacked) > *
{
  flex : 0 1 auto;
}

.ui.box:not(.stacked) > *:first-child:last-child
{
  width: 100%;
}

.ui.box:not(.stacked):not(span) > .box:nth-last-child(2n):first-child,
.ui.box:not(.stacked):not(span) > .box:nth-last-child(2n):first-child ~ .box
{
  width : calc((100% / 2) - ((var(--box-hmargin) * 1 / 2)));
}

.ui.box:not(.stacked).basic:not(span) > .box:not(.basic):nth-last-child(2n):first-child,
.ui.box:not(.stacked).basic:not(span) > .box:not(.basic):nth-last-child(2n):first-child ~ .box:not(.basic)
{
  width : calc((100% / 2) - (((var(--box-hmargin) * 1) / 2)) + var(--box-hmargin));
}

.ui.box:not(.stacked):not(span) > .box:nth-last-child(3n):first-child,
.ui.box:not(.stacked):not(span) > .box:nth-last-child(3n):first-child ~ .box
{
  width : calc((100% / 3) - ((var(--box-hmargin) * 2 / 3)));
}

.ui.box:not(.stacked):not(span).basic > .box:not(.basic):nth-last-child(4n):first-child,
.ui.box:not(.stacked):not(span).basic > .box:not(.basic):nth-last-child(4n):first-child ~ .box:not(.basic)
{
  width : calc((100% / 4) - (((var(--box-hmargin) * 3) / 4)) + var(--box-hmargin));
}

.ui.box:not(.stacked):not(span).basic > .box:not(.basic):nth-last-child(4n):first-child,
.ui.box:not(.stacked):not(span).basic > .box:not(.basic):nth-last-child(4n):first-child ~ .box:not(.basic)
{
  width : calc((100% / 4) - (((var(--box-hmargin) * 3) / 4)) + var(--box-hmargin));
}

/*endregion*/

/*----------------------------------------------------------------------------------------------------------------*/
/* Basic Styling                                                                                                  */
/*----------------------------------------------------------------------------------------------------------------*/
/*region*/

/** border styling **/
.ui.box.basic
{
  border-radius : var(--box-basic-border-radius);
  border        : var(--box-basic-border);
}

.ui.basic > .header
{
  background-color : var(--box-header-background-color);
  border-bottom    : var(--box-basic-border);
}

.ui.basic > .footer
{
  border-top : var(--box-basic-border);
}


/*endregion*/
