/* field.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

## Field

A field wraps label, input, select, textarea in a form to normalise margins

<div data-module="kit-example">
    
    <label class="field">
      <span>Name</span>
      <input placeholder="First Name" name="firstname">
      <input placeholder="Last Name" name="lastname">
    </label>
    
    <label class="field">
      <span>Billing Address</span>
      <input placeholder="Street Address" name="street">
      <input class="narrowed" size="3" placeholder="Apt #" name="apt">
    </label>
    
    <div class="field">
      <label class="field">
      Country
      <select>
        <option value="">State</option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
      </select>
      </label>
      
      <label class="field">Country <input></label>
    </div>
</div>
 
*/

.field,
.fields > *
{
  position:        relative;
  width:           auto;
  font-weight:     normal;
  font-style:      normal;
  display:         flex;
  overflow:        visible;
  vertical-align:  middle;
  align-items:     center;
  flex-wrap:       wrap;
  justify-content: space-between;
  /*margin-left:     -.5rem;
  margin-right:    -.5rem;*/
  margin-bottom:   1rem;
}

.inline.field,
.inline.fields > *,
.fields *.inline
{
  display: inline-flex;
}


/*.field:not(.input),
.fields > *:not(.input)
{ flex-flow: row wrap; }*/

/* default behaviour for all elements inside field */
.field > *,
.fields > * > *
{
  display:   inline-block;
  flex:      0 0 100%;
  min-width: 0;
  width:     auto;
  margin:    0 .5rem;
}


/* select all control elements inside field */
.field > input, .field > *.input,
.fields > * > input, .fields > * > *.input
{
  flex: 1 1 auto;
}


.fluid.field > input, .fluid.field > *.input,
.fluid.fields > * > input, .fluid.fields > * > *.input
{ width: 0; }


.field > .narrowed, .fields > * > .narrowed
{ width: auto !important;
  flex:  0 0 auto;
}


.field > .half.wide,
.fields > * > .half.wide
{ flex: 0 0 50%; }


.field > [class*="4 column wide"],
.fields > * > [class*="4 column wide"]
{ flex: 0 0 var(--global-4-wide); }


/*.input:not(input):not(textarea):not(select).field,
.fields > .input:not(input):not(textarea):not(select)
{ display: flex; }*/

.stacked.field,
.stacked.fields > *
{
  flex-direction: column;
  display:        flex;
  align-items:    stretch;
}