/* input.css | MIT License | github.com/tschroeter/markup_kit */
@import '../base/include.css';

/*--------------------------------------------------------------------------------------------------------------------*/
/* Variables                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

:root
{
  --field-margin:                       1em 0;
  --form-margin-bottom:                 var(--global-margin-small);
  --form-height:                        var(--global-control-height);
  --form-line-height:                   calc(17 / 14) em;
  --form-padding-horizontal:            6px;
  --form-padding-vertical:              var(--global-relative-11px);
  --form-select-padding-right:          20px;
  --form-foreground-color:              var(--global-foreground-color);
  --form-background:                    var(--global-background);
  --form-background-focus:              var(--global-background);
  --form-foreground-color-focus:        var(--global-foreground-color);
  --form_radio_size:                    17px;
  --form_radio_background:              var(--global-background);
  --form_radio_checked_background:      var(--global-background-primary);
  --form-border-width:                  var(--global-border-width);
  --form-border-color:                  var(--global-border-color);
  --form-border-color-focus:            var(--global-background-primary);
  --form-select-image-url:              url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%201%209%206%2015%206%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%2013%209%208%2015%208%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E%0A");
  --input-border-radius:                var(--global-border-radius);
  --input-line-height-offset:           calc((var(--form-line-height) - 1em) / 2);
  --input-padding:                      calc(var(--form-padding-vertical) - var(--input-line-height-offset)) var(--form-padding-horizontal);
  --input-checkbox-size:                17px;
  --input-checkbox-checkmark-font-size: 14px;
  --input-checkbox-border-radius:       var(--global-3px);
  --input-checkbox-border:              1px solid var(--global-border-color);
}


/*endregion*/

.form .label
{
  display:       block;
  margin-bottom: var(--form-margin-bottom);
}


/*--------------------------------------------------------------------------------------------------------------------*/
/* Input                                                                                                              */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*doc

## Text Input

All textual input fields like `<input>`, `<select>` or `<textarea>` are styled with the `.input` class.

All `<input>` fields must have one of the following type attributes:
`text`, `date`, `datetime`, `datetime-local`, `email`, `month`, `number`, `password`, `search`, `tel`, `time`, `url`
or `week`.

<div data-module="kit-example">
  <input class="input" type="text" placeholder="Search...">
  <textarea class="input" rows="5" cols="50" placeholder="Textarea"></textarea>
</div>
*/

.input:not(input):not(textarea):not(select),
label
{
  position:        relative;
  font-weight:     normal;
  font-style:      normal;
  display:         inline-flex;
  overflow:        visible;
  vertical-align:  middle;
  align-items:     center;
  justify-content: space-between;
}


input, select, textarea
{
  max-width:                   100%;
  outline:                     none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  padding:                     var(--input-padding);
  background:                  var(--form-background);
  color:                       var(--form-foreground-color);
  border-radius:               var(--input-border-radius);
  border:                      var(--form-border-width) solid var(--form-border-color);
  transition:                  0.2s ease-in-out;
  transition-property:         color, background-color, border;
  line-height:                 var(--form-line-height);
  width:                       20rem;
  font-size:                   1em;
  appearance:                  none;
}


.input > input
{
  border: none;
}


input.input,
.input > input
{ appearance: none; }


/*--------------------------------------------------------------------------------------------------------------------*/
/* Select                                                                                                             */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

select.input:after
{
  position:  absolute;
  left:      0;
  top:       0;
  content:   "\2713";
  font-size: var(--input-checkbox-checkmark-font-size);
}


/*endregion*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* CheckBox                                                                                                           */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

input[type="checkbox"].input
{
  display:            inline-block;
  height:             var(--form_radio_size);
  width:              var(--form_radio_size);
  overflow:           hidden;
  vertical-align:     middle;
  -webkit-appearance: none;
  cursor:             pointer;
  padding:            0;
  background:         var(--form_radio_background);
}


input[type="checkbox"].input
{
  border:        var(--input-checkbox-border);
  border-radius: var(--input-checkbox-border-radius);
  position:      relative;
}


input[type="checkbox"].input:checked:after
{
  position:  absolute;
  left:      50%;
  top:       50%;
  transform: translate(-50%, -50%);
  content:   "\2713";
  font-size: var(--input-checkbox-checkmark-font-size);
}


/*endregion*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* Focused Input                                                                                                              */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*doc

## Focused Input

An focused input field show a user is currently interacting with it.

<div data-module="kit-example">
  <input class="focused input" type="text" placeholder="Search...">
  <textarea class="focused input" rows="5" cols="50" placeholder="Textarea"></textarea>
</div>

*/

input.input:focus,
.input > input,
textarea.input:focus
{ outline: none; }


.input:focus,
.focused.input,
.focused.input,
.input:focus-within /* TODO: cross browser focus-within support */
{
  background:   var(--form-background-focus);
  color:        var(--form-foreground-color-focus);
  border-color: var(--form-border-color-focus);
}


/*endregion*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* Labeled Input                                                                                                      */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*doc
## Labeled Input

An input can be formatted with a `<label>` to create a caption for a input control. The `<label>` can be associated
with a input control either implicitly by placing the input element inside the label element, or explicitly by using
the `for` attribute. Clicking on a input control's `<label>` will give the focus on the input control.

<div data-module="kit-example">
  <div>
    <label>
      Firstname
      <input type="text" name="firstname" class="input"/> kg
    </label>
    
    <label class="input">
      <span>http://</span>
      <input type="text" name="domain" placeholder="yoursite.com"/>
    </label>
    
    <label class="input">
      <input type="text" name="weight" placeholder="Enter weight..."/>
      <span class="basic">kg</span>
    </label>
  </div>
</div>

*/

.input:not(input):not(textarea):not(select) > input,
.input:not(input):not(textarea) > textarea
{ flex: 1 0 auto; }


.input:not(input):not(textarea) > *
{ flex: 0 0 auto; }


.input:not(input):not(textarea):not(select)
{ padding: 0; }


.input:not(input):not(textarea) > *:not(input):not(textarea)
{
  background: var(--global-border-color);
  border:     1px solid var(--global-border-color);
}


.input:not(input):not(textarea) > *
{ padding: var(--input-padding); }


.input:not(input):not(textarea) > *:first-child
{
  border-top-left-radius:    var(--input-border-radius);
  border-bottom-left-radius: var(--input-border-radius);
}


.input:not(input):not(textarea) > *:last-child
{
  border-top-right-radius:    var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
}


/*--------------------------------------------------------------------------------------------------------------------*/
/* Expanded Input                                                                                                        */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*doc
## Expanded Input

<div data-module="kit-example">
    <label class="expanded">
      <span>Firstname</span>
      <input name="firstname" class="input"/>
    </label>
  
    <label class="expanded">
      <span>Lastname</span>
      <input name="lastname" class="input"/>
    </label>
  
    <input name="address" placeholder="Address" class="expanded input"/>
</div>



*/

input.expanded, label.expanded
{ width: 100%; margin-bottom: 1em; }


input.expanded:not(input):not(textarea) > input,
label.expanded > input
{
  width:      auto;
  flex-basis: 100%;
}


/*endregion*/

.input > input
{
  padding:       var(--input-padding);
  border-radius: 0 var(--input-border-radius) var(--input-border-radius) 0;
  border:        var(--form-border-width) solid var(--form-background);
}


div.top.labeled.input > input,
label.top.labeled.input > input
{
  flex:         1;
  padding-top:  0;
  padding-left: 0;
  margin-left:  0;
}


/* right labeled */
div.right.input > input,
label.right.input > input
{
  flex: 1 auto;
}


label.right.input,
label.right.input:focus-within
{
  background: var(--global-border-color);
  padding:    0 var(--form-padding-horizontal) 0 0;
}


label.right.input > input
{
  padding:       var(--input-padding);
  border-radius: var(--input-border-radius) 0 0 var(--input-border-radius);
  border:        var(--form-border-width) solid var(--form-background);
  margin-right:  var(--form-padding-horizontal);
  margin-left:   0;
}


/* animated label */
label.animated:before
{
  border:    1px solid red;
  transform: translateY(12px);
}


/* basic label */
label.basic.input,
label.basic.input:focus-within
{
  background: var(--form-background);
}


label.basic.right.input > input
{
  border-right: 1px solid var(--form-border-color);
}


/* endregion */

.custom.field
{
  display:        inline-block;
  position:       relative;
  max-width:      100%;
  vertical-align: middle;
  z-index:        var(--global-component-layer);
}


.custom.field > input[type="file"]
{
  position:           absolute;
  top:                0;
  left:               0;
  width:              100%;
  height:             100%;
  opacity:            0;
  -webkit-appearance: none;
  cursor:             pointer;
  z-index:            var(--global-component-foreground-layer);
}


.custom.field input[type="file"]::-webkit-file-upload-button
{
  visibility: hidden;
  opacity:    0;
}


.custom.field input[type="file"]
{
  font-size: 500px;
  overflow:  hidden;
}


/*.input,
.select:not([multiple]):not([size])
{
  height:         var(--form-height);
  vertical-align: middle;
  display:        inline-block;
  line-height:    var(--form-line-height);
}*/

.select
{
  /** remove default style */
  -webkit-appearance:  none;
  -moz-appearance:     none;
  padding-right:       var(--form-select-padding-right);
  background-image:    var(--form-select-image-url);
  background-repeat:   no-repeat;
  background-position: 100% 50%;
}


.checkbox
{
}




