.layout,
.layout > div:not(.layout)
{
  display:         flex;
  flex-wrap:       wrap;
  justify-content: space-between;
  margin-left:     -.5rem;
  margin-right:    -.5rem;
}

.layout > div:not(.layout),
.layout > .layout
{
  margin-left: 0;
  margin-right: 0;
}



.layout > *,
.layout > div:not(.layout) > *,
.layout > .layout > *
{
  flex:          1 1 auto;
  width:         auto;
  margin-left:   .5rem;
  margin-right:  .5rem;
  margin-bottom: 1rem;
}

.layout > .expanded,
.layout > div
{
  flex:  0 1 auto;
  width: 100% !important;
}


.layout > .narrowed,
.layout > div:not(.layout) > .narrowed
{ flex: 0 0 auto; }
