<!doctype html>
<title>Landing Page Layout</title>
<link href="../modules/mkit-box/build/index.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<style type="text/css">

  body
  {
    margin: 0;
  }

  #app
  {
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }

  #app main
  {
    background: red;

  }

</style>



<div id="app" class="ui stacked box">

  <main class="ui box">
Content
  </main>


  <footer class="footer">
    <nav class="ui nav box">
      <a class="nav item"><i class="fa fa-home"></i>Home</a>
      <a class="nav item"><i class="fa fa-music"></i>Music</a>
      <a class="nav item"><i class="fa fa-video"></i>Videos</a>
    </nav>
  </footer>

</div>
