<!doctype html>

<title>Landing Page Layout</title>
<link href="../modules/css/include.css" rel="stylesheet">

<nav class="kit-nav">

  <a class="kit-pos-left" href="#">Your Site</a>

  <ul class="kit-horizontal kit-pos-right">
    <li><a href="#">home</a></li>
    <li><a href="#">portfolio</a></li>
    <li><a href="#">blog</a></li>
    <li><a href="#">contact</a></li>
  </ul>
</nav>

<section class="kit-panel kit-panel-primary kit-height-viewport-4-5">
  <div class="kit-panel-body">
    <h2>Big Bold Text</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p>
      <a href="#">Get Started</a>
    </p>
  </div>
</section>

<section class="kit-flex-grid kit-child-width-1-4 kit-padding">

  <section>
    <h3>Get Started Quickly</h3>
    <p>
      Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
    </p>
  </section>

  <section>
    <h3>Responsive Layouts</h3>
    <p>
      Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
    </p>
  </section>

  <section>
    <h3>Modular</h3>
    <p>
      Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
    </p>
  </section>

  <section>
    <h3>Place Nice</h3>
    <p>
      Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
    </p>
  </section>

</section>

<section class="kit-padding">
  <h2>Dolore magna aliqua. Uis aute irure.</h2>

  <div class="kit-flex-grid">
    <section class="kit-width-3-5">


      <h3>Contact Us</h3>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>


      <div>
        <h3>More Information</h3>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>


    </section>

    <form class="kit-width-2-5">
      <fieldset>

        <div class="kit-margin">
          <label class="kit-label" for="name">Your Name</label>
          <input class="kit-input" id="name" type="text" placeholder="Your Name">
        </div>

        <div class="kit-margin">
          <label class="kit-label" for="email">Your Email</label>
          <input class="kit-input" id="email" type="email" placeholder="Your Email">
        </div>

        <div class="kit-margin">
          <label class="kit-label" for="password">Your Password</label>
          <input class="kit-input" id="password" type="password" placeholder="Your Password">
        </div>


        <button class="kit-button kit-button-primary" type="submit" class="pure-button">Sign Up</button>
      </fieldset>
    </form>
  </div>


</section>


