<!doctype html>
<title>Landing Page Layout</title>
<link href="../main/css/include.min.css" rel="stylesheet">

<nav class="kit_navbar kit_bg">

  <a class="kit_left" href="#">Your Site</a>

  <ul class="kit_right kit_navbar_nav">
    <li><a href="#">home</a></li>
    <li><a href="#">portfolio</a></li>
    <li><a href="#">blog</a></li>
    <li><a href="#">contact</a></li>
  </ul>
</nav>

<section class="kit_height_vp_3_5 kit_bg_muted kit_padding  ">
  <div>
    <h2>Big Bold Text</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p>
      <a class="kit_button kit_primary" href="#">Get Started</a>
    </p>
  </div>
</section>

<section class="kit_grid kit_child_w25 kit_padding">

  <section>
    <h3>Get Started Quickly</h3>
    <p>
      Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
    </p>
  </section>

  <section>
    <h3>Responsive Layouts</h3>
    <p>
      Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
    </p>
  </section>

  <section>
    <h3>Modular</h3>
    <p>
      Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
    </p>
  </section>

  <section>
    <h3>Place Nice</h3>
    <p>
      Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
    </p>
  </section>

</section>

<section class="kit_padding">
  <h2>Dolore magna aliqua. Uis aute irure.</h2>

  <div class="kit_grid">
    <section class="kit_w60">


      <h3>Contact Us</h3>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>


      <div>
        <h3>More Information</h3>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>


    </section>

    <form class="kit_w40">
      <fieldset>

        <div class="kit_margin">
          <label class="kit_label" for="name">Your Name</label>
          <input class="kit_input" id="name" type="text" placeholder="Your Name">
        </div>

        <div class="kit_margin">
          <label class="kit_label" for="email">Your Email</label>
          <input class="kit_input" id="email" type="email" placeholder="Your Email">
        </div>

        <div class="kit-margin">
          <label class="kit_label" for="password">Your Password</label>
          <input class="kit_input" id="password" type="password" placeholder="Your Password">
        </div>


        <button class="kit_button kit_button_primary" type="submit">Sign Up</button>
      </fieldset>
    </form>
  </div>


</section>


