/* card.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Card Module

*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Variables                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
@import 'variables.css';

:root
{
  /* coloring */
  --card_background: var(--global-background);
  --card_content_background: inherit;
  --card_header_color: var(--global-foreground-color);
  /* sizing */
  --card_width: 250px;
  /* border */
  --card_border: none;
  --card_border_width: 1px;
  --card_content_border_radius: 0;
  --card_border_radius: var(--global-border-radius);
  --card_content_divider: var(--card_border_width) solid var(--global-border-color);
  --card_content_border: none;
  /* shadow */
  --card_shadow_distance: 1px;
  --card_box_shadow: 0 var(--card_shadow_distance) 3px 0px var(--global-border-color);
  --card_content_box_shadow: none;
  /* sizing */

  /* spacing */
  --card_padding: 0;
  --card_content_margin: 0;
  --card_header_margin: 0;
  --card_content_padding: 1em 1em;
  --card-margin: 1em 0em;

  /* typography */
  --card_content_font_size: 1em;
  --card_header_font_weight: bold;
}

/*endregion*/

.card
{
  /* sizing */
  max-width: 100%;
  width: var(--card_width) !important;
  /* positioning */
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  /* border */
  border: var(--card_border);
  border-radius: var(--card_border_radius);
  box-shadow: var(--card_box_shadow);
  /* coloring */
  background: #ffff !important;
  /* spacing */
  padding: var(--card_padding);
  margin: var(--card-margin);
}

.cards > .card a,
.card a
{
  cursor: pointer;
}

.card:last-child
{
  margin-bottom: 0;
}

.cards,
.card
{
  @extend .clf;
}

/*
/*--------------------------------------------------------------------------------------------------------------------*/
/* Card Edges                                                                                                         */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

/*.cards > .card > :first-child,
.card > :first-child
{
  border-radius: var(--card_border_radius) var(--card_border_radius) 0 0 !important;
  border-top: none !important;
}*/

.cards > .card > :last-child,
.card > :last-child
{
  border-radius: 0 0 var(--card_border_radius) var(--card_border_radius) !important;
}

.cards > .card > :only-child,
.card > :only-child
{
  border-radius: var(--card_border_radius) !important;
}

/*endregion*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* Card Content                                                                                                       */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

.cards > .card > .content,
.card > .content
{
  flex-grow: 1;
  border: var(--card_content_border);
  border-top: var(--card_content_divider);
  background: var(--card_content_background);
  margin: var(--card_content_margin);
  padding: var(--card_content_padding);
  box-shadow: var(--card_content_box_shadow);
  font-size: var(--card_content_font_size);
  border-radius: var(--card_content_border_radius);
}

.cards > .card > .content:after,
.card > .content:after
{
  @extend .clf;
}

.cards > .card > .content > .header,
.cards > .card > .content.header,
.card > .content > .header,
.card > .content.header
{
  display: block;
  margin: var(--card_header_margin);
  color: var(--card_header_color);
  font-weight: var(--card_header_font_weight);
}

/*endregion*/

/*--------------------------------------------------------------------------------------------------------------------*/
/* Card Images                                                                                                        */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

.card > .image
{
  position: relative;
  display: block;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.card > .image > img
{
  display: block;
  position: absolute;
  height: 100%;
  width: auto;
  border-radius: inherit;
}

/*endregion*/
