.ui.control
{
  display         : inline-flex;
  flex-wrap       : wrap;
  vertical-align  : text-bottom;
  align-items     : center;
  margin          : calc(1em + 8px) 0 0;
  position        : relative;
  font-size       : 1em;
  font-family     : inherit;
  line-height     : 1.5em;
  background      : lightgrey;
  padding         : 0;
  justify-content : space-between;
  min-height      : calc(1.5em + .2rem + .2rem);
}

.ui.control
{

  &.has-no-label
  {
    margin-top : auto;

    & > .label
    {
      display : none;
    }
  }

  /*& > *:not(.label):not(.focus-ring):not(.control-indicator)
  {
    padding-left  : .2rem;
    padding-right : .2rem;
    flex          : 0 1 calc(1.5 + .4rem);
  }*/

  & > *
  {
    text-align     : left;
    vertical-align : inherit;
    font-family    : inherit;
    font-size      : inherit;
    line-height    : inherit;
    border-radius  : calc(var(--border-radius) - var(--border-width));
  }

  & > *:not(:first-child):not(last-child)
  {
    border-radius : 0;
  }

  & input,
  & > input:not([type]),
  & > input[type='text'],
  & > input[type='number'],
  & > input[type='email'],
  & textarea,
  & > textarea,
  & > select
  {
    appearance     : none;
    border         : none;
    outline        : none;
    margin         : 0;
    background     : #fff;
    padding-top    : .2rem;
    padding-bottom : .2rem;
    flex           : 1 1 auto !important;
    align-self     : stretch;
  }

  /* control contains another control */
  & > .ui.control
  {
    margin        : 0;
    padding       : 0;
    border        : none;
    border-radius : 0;
    align-self    : stretch;
    flex          : 1 1 0;

    & > *
    {
      background : transparent;
    }
  }

  & > .label, & > input
  {
    flex : 1 1 0;
  }

  &.radio,
  &.checkbox
  {

    padding-left: 1.5rem;

    & > .control-indicator
    {
      position        : absolute;
      top             : .25rem;
      left            : 0;
      display         : block;
      width           : 1rem;
      height          : 1rem;
      line-height     : 1rem;
      font-size       : 65%;
      color           : #eee;
      text-align      : center;
      background-color: #eee;
      background-size: 50% 50%;
      background-position: center center;
      background-repeat: no-repeat;
      user-select     : none;
    }

    & > input:focus ~ .control-indicator
    {
      box-shadow : 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
    }

    & > input:checked ~ .control-indicator
    {
      color: #fff;
      background-color: var(--color-focus);
    }

    & > input:active ~ .control-indicator
    {
      color: #fff;
      background-color: #84c6ff;
    }
  }

  & > .label
  {
    text-overflow : ellipsis;
    white-space   : nowrap;
    overflow      : hidden;
    align-self    : flex-start;
    font-size     : 1em;
    line-height   : 1.2;
    height        : 1.2em;
    /*position      : absolute;
    top           : calc(-1em - 8px);
    left          : 0;*/
    display       : block;
    order         : -1000;
    flex          : 1 1 100%;
    margin-top    : calc(-1.2em - 8px);
    margin-bottom : 8px;
    padding-left  : .2rem;
  }

  &.--is-horizontal
  {
    margin-left : 10em;
    margin-top  : auto;

    & > .label
    {
      margin-top    : auto;
      margin-bottom : auto;
      flex          : 1 1 auto;
      width         : 10em;
      margin-left   : -10em;
    }
  }

  &.--is-start-aligned
  {
    margin-top    : auto;
    margin-bottom : calc(1.2em + 16px);

    & > .label
    {
      /*top           : auto;*/
      margin-top    : 8px;
      margin-bottom : calc(-1.2em - 8px);
      order         : 1000;
    }
  }

  &.input, &.select
  {
    &, & > .focus-ring
    {
      border        : var(--border-width) var(--border-color) var(--border-style);
      border-radius : var(--border-radius);
    }

    & > .focus-ring
    {
      position       : absolute;
      background     : transparent !important;
      top            : calc(var(--border-width) / -1);
      right          : calc(var(--border-width) / -1);
      left           : calc(var(--border-width) / -1);
      bottom         : calc(var(--border-width) / -1);
      border-color   : transparent;
      cursor         : text;
      pointer-events : none;
      box-sizing     : content-box;
      color          : var(--color-text-primary);
      outline        : 0;
    }
  }

  &:focus, & > input:focus ~ .focus-ring, & > textarea:focus ~ .focus-ring, select:focus ~ .focus-ring
  {
    outline      : 0;
    border-color : var(--color-focus);
    box-shadow   : 0 0 0 1px var(--color-focus);
    visibility   : visible;
    z-index      : var(--zindex-glass-layer);
  }

  &.input
  {
    & > select
    {
      background : transparent;
    }
  }
}

@import 'control.input';
@import 'control.select';
@import 'control.radio';
@import 'control.checkbox';


