/* float.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Float Module

*/
@import 'normalisation.css';

/*--------------------------------------------------------------------------------------------------------------------*/
/* Float And Clearfix Modifiers                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*doc

## Float And Clearfix Modifiers

Floating elements are taken from the document flow and aligned to the left or right of their parent element. It is
important to clear floats.

*/
/*region*/

.float, .float.left
{
  float: left;
}

.float, .float.right
{
  float: right;
}

.clf
{

}

.clf:before
{
  content: "";
  display: table-cell;
}

.clf:after
{
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

/*endregion*/