/*doc

## Form Field

A form field is an element containing a label element and at least one belonging form control element.
By default the label will be positioned above the control.

<div data-module="kit-example">
  <label class="form-field">
    User Name
    <input>
  </label>
</div>

### Inline Form Field

A field can have its label next to the control instead of above it.

<div data-module="kit-example">
  <div class="form-field is-aligned">
    <label>Name&#32;<input type="text" placeholder="First name"></label> <input type="text" placeholder="Last name">
  </div>
</div>

### Alignment

By default the label will be positioned at the start of the control. To change the alignment use the `is-align-start`
modifier:

<div data-module="kit-example">
  <label class="form-field is-align-start">
    User Name&#32;<input>
  </label>
</div>

<div data-module="kit-example">
  <label class="form-field is-aligned">
    <label><input type="checkbox"> Yes</label> <label><input type="checkbox"> No</label>
  </label>
  <br>
  <label class="form-field is-aligned">
    <input type="checkbox"> Make my profile visible
  </label>
</div>

*/

.form-field
{
  border         : none;
  padding        : 0;
  display        : inline-flex;
  flex-wrap      : wrap;
  align-items    : center;
  vertical-align : middle;
  margin-top     : 16px; /* todo */

  /* margin collapsing */
  & > .form-field:first-child,
  & > .form-field.is-inline
  {
    margin-top: 0;
  }

  &.is-aligned
  {
    & > *:nth-last-child(1n):first-child:last-child {margin-left: 0; margin-right: 0;}

    & > *:nth-last-child(2n) {margin-left: 0; margin-right: .25em; }
    & > *:nth-last-child(2n+1) {margin-left: .25em; margin-right: 0; }
    & > *:nth-last-child(2n) + * {margin-left: 25px; margin-right: .25em; }

    & > *:nth-last-child(3n) {margin-left: 0; margin-right: .25em; }
    & > *:nth-last-child(3n+1) {margin-left: .25em; margin-right: .25em; }
    & > *:nth-last-child(3n) + * {margin-left: .25em; margin-right: .25em; }
  }

  &.is-aligned > *
  {
    margin-left: .25em;
    margin-right: .25em;
  }

  &:not(.is-aligned) > *
  {
    flex : 1 1 auto;
  }

  &.is-aligned > *
  {
    flex: 0 0 auto;
  }

  &:not(.is-aligned) > *:not(label):nth-last-child(1):nth-of-type(1)
  {
    &, & ~ *
    { flex-basis : auto; width : calc(100% / 1); }
  }
  &:not(.is-aligned) > *:not(label):nth-last-child(2):nth-of-type(1)
  {
    &, & ~ *
    { flex-basis : auto; width : calc(100% / 2); }
  }
}