@import 'variables.css';

:root
{
  --form-margin-bottom: var(--global-margin-small);
  --form-height: var(--global-control-height);
  --form-line-height: var(--form-height);
  --form-padding-horizontal: 6px;
  --form-padding-vertical: 4px;
  --form-select-padding-right: 20px;
  --form-foreground-color: var(--global-foreground-color);
  --form-background: var(--global-muted-background);
  --form-background-focus: var(--global-background);
  --form-foreground-color-focus: var(--global-foreground-color);
  --form_radio_size: 16px;
  --form_radio_margin_top: -4px;
  --form_radio_background: var(--global-muted-background);
  --form_radio_checked_background: var(--global-background-primary);
  --form-border-width: var(--global-border-width);
  --form-border-color: var(--global-border-color);
  --form-border-color-focus: var(--global-background-primary);
  --form-select-image-url: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%201%209%206%2015%206%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%2013%209%208%2015%208%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E%0A");
  --form_checkbox_image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%2F%3E%0A%3C%2Fsvg%3E");
}

.form .label
{
  display: block;
  margin-bottom: var(--form-margin-bottom);
}

.input
{
  overflow: visible;
  appearance: textfield;
}

.input,
.select,
.textarea,
.radio,
.checkbox
{
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  font: inherit;
}

.input:focus,
.select:focus,
.textarea:focus
{
  outline: none;
}

.input,
.select,
.textarea
{
  /* prevent content overflow when fixed width is used */
  max-width: 100%; /* prevent content overflow if a fixed width is used */
  width: 100%; /* takr full width */
  padding: 0 var(--form-padding-horizontal);
  background: var(--form-background);
  color: var(--form-foreground-color);
  border: 0 none; /* reset default */
  border: var(--form-border-width) solid var(--form-border-color);
  -webkit_transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit_transition-property: color, background-color, border;
  transition-property: color, background-color, border;
  line-height: 100% !important;
}

.input:focus,
.select:focus,
.textarea:focus
{
  background: var(--form-background-focus);
  color: var(--form-foreground-color-focus);
  border-color: var(--form-border-color-focus);
}

.custom.field
{
  display: inline-block;
  position: relative;
  max-width: 100%;
  vertical-align: middle;
  z-index: var(--global-component-layer);
}

.custom.field > input[type="file"]
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-appearance: none;
  cursor: pointer;
  z-index: var(--global-component-foreground-layer);
}

.custom.field input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  opacity: 0;
}

.custom.field input[type="file"]
{
  font-size: 500px;
  overflow: hidden;
}

.input,
.select:not([multiple]):not([size])
{
  height: var(--form-height);
  vertical-align: middle;
  display: inline-block;
  line-height: var(--form-line-height);
}

.select
{
  /** remove default style */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: var(--form-select-padding-right);
  background-image: var(--form-select-image-url);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.checkbox
{
  display: inline-block;
  height: var(--form_radio_size);
  width: var(--form_radio_size);
  overflow: hidden;
  vertical-align: middle;
  appearance: none;
  background-color: var(--form_radio_background);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: var(--form_radio_margin_top);
}

.checkbox:checked
{
  background-color: var(--form_radio_checked_background);
}

.checkbox:checked
{
  background-image: var(--form_checkbox_image);
}
