/*doc

## Label

<div data-module="kit-example">
  <label class="label">Default</label>
  <label class="success label">Success</label>
  <label class="warning label">Warning</label>
  <label class="error label">Error</label>
  <label class="focused label">Focus</label>
  <label class="dark label">Dark</label>
  <label class="light label">Light</label>
</div>

### Basic

To reduce the visual complexity add the `basic` class to a label.

<div data-module="kit-example">
<label class="label">Default</label>
<label class="basic success label">Success</label>
<label class="basic warning label">Warning</label>
<label class="basic error label">Error</label>
<label class="basic focused label">Focus</label>
<label class="basic dark label">Dark</label>
<label class="basic light label">Light</label>
</div>

*/
@import 'core.settings.css';
@import 'layout.grid.css';

.label
{
  /* Sizing */
  /*margin: calc(var(--spacing-medium) / 2) 0;*/
  /* Positioning */
  display: inline-block;
  border: var(--border-width) var(--border-style) transparent;
  border-radius: var(--border-radius);


}

.label:not(.inline)
{
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label:not(.inline) > *
{
  /*flex:  1 1 auto;*/
  display: block;
  width: 100%;
  min-width: 1ch;
}

.label:not(.inline) > .input,
.label:not(.inline) > .textarea,
.label:not(.inline) > .select
{
  display: flex !important;
}

.label:not(.inline) > select
{
  min-width: 8ch;
}

/*.label:not(.inline) > select
{
  width: initial;
  min-width: 100%;
}*/

.label > input
{
  /*flex:      0 1 auto;
  min-width: 0;
  width:     100%;*/
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Pointing Label                                                                                                            */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/

/*doc

## Pointing

A label can point to the context next to it

<div data-module="kit-example">
  <section>
    <label class="basic success pointing label">Please enter a value</label>
    <label class="basic warning bottom pointing label">Please enter a value</label>
    <label class="left pointing error label">Please enter a value</label>
    <label class="dark right pointing label">Please enter a value</label>
  </section>

  <section>
    <input id="pointing_label_username" placeholder="Username" class="input">
    <label for="pointing_label_username" class="light left pointing smaller label">The name is already taken</label>
  </section>

  <fieldset class="fieldset narrow measure">
    <label class="label">Password <input id="pointing_label_password" class="input" type="password" placeholder="Password"></label>
    <label for="pointing_label_password" class="light top pointing smaller label">Your password must be 6 characters or more</label>
  </fieldset>

</div>

*/

/*endregion*/

.pointing.label
{
  position: relative;
  z-index: 50;
}

.basic.pointing.label
{
  background-color: inherit;
}

.pointing.label:before
{
  background-color: inherit;
  border-color: inherit;
  border-style: var(--border-style);
  border-width: var(--border-width) 0 0 var(--border-width);
  position: absolute;
  z-index: 40;
  content: '';
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  width: .6666em;
  height: .6666em;
  background-image: none;
  top: 0;
  left: 50%;
  margin-top: calc(-1 * var(--border-width) / 2);
}

[class*="bottom pointing"].label:before
{
  border-width: 0 var(--border-width) var(--border-width) 0;
  top: 100%;
  margin-top: calc(var(--border-width) / 2);
}

[class*="left pointing"].label
{
  margin-left: .5em;
}

[class*="left pointing"].label:before
{
  border-width: 0 0 var(--border-width) var(--border-width);
  top: 50%;
  left: 0;
  margin-top: 0;
  margin-left: calc(-1 * var(--border-width) / 2);
}

[class*="right pointing"].label
{
  margin-right: .5em;
}

[class*="right pointing"].label:before
{
  transform: translateX(50%) translateY(-50%) rotate(45deg);
  border-width: var(--border-width) var(--border-width) 0 0;
  top: 50%;
  right: 0;
  left: auto;
  bottom: auto;
  margin-top: 0;
  margin-right: calc(-1 * var(--border-width) / 2);
}


