/*doc

## Form Field

A form field is an element containing a label element and at least one belonging form control element

*/

.form-field
{
  border         : none;
  padding        : 0;
  margin         : 0;
  display        : inline-flex;
  flex-wrap      : wrap;
  align-items    : center;
  vertical-align : middle;

  & > *
  {
    flex  : 1 1 auto;
  }

  &:not(.is-inline) > *:not(label):nth-last-child(1):nth-of-type(1) { &, & ~ * {flex-basis: auto; width: calc(100% / 1);}}
  &:not(.is-inline) > *:not(label):nth-last-child(2):nth-of-type(1) { &, & ~ * {flex-basis: auto; width: calc(100% / 2);}}
}