.grid
{
  max-width: 100%;

  & > *:nth-last-child(2):first-child { &, & ~ * {flex-basis: auto; width: calc((100% / 2) - var(--spacing-medium));}}
  & > *:nth-last-child(3):first-child { &, & ~ * {flex-basis: auto; width: calc((100% / 3) - var(--spacing-medium));}}
  & > *:nth-last-child(4):first-child { &, & ~ * {flex-basis: auto; width: calc((100% / 4) - var(--spacing-medium));}}
  & > *:nth-last-child(5):first-child { &, & ~ * {flex-basis: auto; width: calc((100% / 5) - var(--spacing-medium));}}
  & > *:nth-last-child(6):first-child { &, & ~ * {flex-basis: auto; width: calc((100% / 6) - var(--spacing-medium));}}

  &[class*='-column'] > * {flex-basis: auto;}

  &.one-column > * {width: 100% !important;};
}

.narrowed-cell { flex: 0 0 auto !important; width: auto !important; }


.golden.grid > :nth-child(even)
{ width: auto; max-width: calc(var(--golden-ratio-8) - var(--spacing-medium)) !important; }

.golden.grid > .tiny.width
{ width: calc(var(--golden-ratio-6) - var(--spacing-medium)) !important; }

.golden.grid > .large.width
{ width: calc(var(--golden-ratio-9) - var(--spacing-medium)) !important; }

@media (--only-small) {
  .grid > *
  {
    min-width: 100% !important;
    width: 100% !important;
  }
}





















