@import 'layout.grid.css';
@import 'layout.spacing.css';

.fieldset:not(.inline)
{
  @extend .grid;
}

.row
{
  @extend .grid;
  flex-wrap: nowrap;
}

.column
{
  @extend .grid;
  flex-direction: column;
}

.column > *
{
  flex-basis: auto;
}
