.block
{
  margin-top: 0;
  margin-bottom: 0;
}

.block + .block
{
  margin-top: 0.75em;
}

h1, h2, h3, header
{
  margin-top: 0.75em;
  margin-bottom: 0.375em;
}

h4, h5, h6
{
  margin-top: 0.375em;
  margin-bottom: 0.375em;
}

h1, h2, h3, h4, h5, h6
{
  & + .block
  {
    margin-top: 0;
  }
}

address, aside, article,
footer,
div, dl,
main,
nav,
ol,
p,
section,
ul
{
  @extend .block;
}