/* positioning.css | MIT License | https://github.com/tschroeter/markup_kit */
/*doc

# Positioning Module

 Module to place elements outside of the normal document flow.

*/
@import 'variables.css';

[class*='top'],
[class*='bottom'],
[class*='left'],
[class*='right'],
[class*='center']
{
  position: absolute !important;
}

[class*='shift-']
{
  z-index: var(--global-sticky-layer) !important;
}

.fixed
{
  position: fixed !important;
  z-index: var(--global-fixed-layer);

}

.right
{
  right: 0;
}

.left
{
  left: 0;
}

.top.left
{
  top: 0;
  left: 0;
}

.top.right
{
  top: 0;
  right: 0;
}

.bottom_left
{
  bottom: 0;
  left: 0;
}

.bottom_right
{
  bottom: 0;
  right: 0;
}

.center-vertical
{
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal
{
  left: 50%;
  transform: translateX(-50%);
  display: table;
}

.shift-top-right
{
  transform: translate(50%, -50%);
}

@media (--medium-up)
{
  .fixed\@medium-up
  {
    position: fixed !important;
    z-index: 9999 !important;
  }

  .right\@medium-up
  {
    top: 0;
    bottom: 0;
    right: 0;
  }

  .top_left\@medium-up
  {
    top: 0;
    left: 0;
  }

  .top_right\@medium-up
  {
    top: 0;
    right: 0;
  }

  .bottom_left\@medium-up
  {
    bottom: 0;
    left: 0;
  }

  .bottom_right\@medium-up
  {
    bottom: 0;
    right: 0;
  }
}

