/* normalisation.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Normalisation Module

*/
*, *:before, *:after
{
  box-sizing: inherit;
}
html
{
  box-sizing: border-box;
  /* Prevent adjustments of font size after orientation changes on Windows Phone and iOS */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body
{
  margin: 0; /* remove body margin */
}
/* deprecated */
:root
{

  /* Foreground Colors */

  /* Background Colors */

  /* Typography */

  /* Borders */

  /* Spacings */

  /* Controls */

  /* Z-Index */

  /* Box Shadows */

  /* Border Radius */
}
body
{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}
a
{
  /* remove gap in links underline in iOS 8+ and Safari 8+ */
  -webkit-text-decoration-skip: objects;
}
a:active, a:hover
{
  outline: 0;
}
a, .link
{
  color: #1E87F0;
  text-decoration: none;
  cursor: pointer;
}
a:hover, .link:hover
{
  color: #0F6ECD;
  text-decoration: underline;
}
/* margins */
p, ul, dl, pre, address, fieldset, figure
{
  margin: 0 0 20px 0;
  list-style-type: none;
}
* + p, * + ul, * + ol, * + dl, * + pre, * + address, * + fieldset, * + figure
{ /* adjacent element margin */
  margin-top: 20px;
}
/* headings */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
  margin: 0 0 20px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: #333;
  text-transform: none;
}
* + h1, * + .h1, * + h2, * + .h2, * + h3, * + .h3, * + h4, * + .h4, * + h5, * + .h5, * + h6, * + .h6
{ /* adjacent element margin */
  margin-top: 40px;
}
h1, .h1
{
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 1.2;
}
h2, .h2
{
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.3;
}
h3, .h3
{
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.4;
}
h4, .h4
{
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.4;
}
h5, .h5
{
  font-size: 16px;
  line-height: 1.4;
}
h6, .h6
{
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
}
/* html5 elements */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary
{
  display: block;
  width: 100%; /* ???? */
}
/* float.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Float Module

*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Float And Clearfix Modifiers                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*doc

## Float And Clearfix Modifiers

Floating elements are taken from the document flow and aligned to the left or right of their parent element. It is
important to clear floats.

*/
/*region*/
.float, .float.left
{
  float: left;
}
.float, .float.right
{
  float: right;
}
.clf, .grid, .cards, .card, .cards > .card > .content:after, .card > .content:after
{

}
.clf:before, .grid:before, .cards:before, .card:before, .cards > .card > .content:after:before, .card > .content:after:before
{
  content: "";
  display: table-cell;
}
.clf:after, .grid:after, .cards:after, .card:after, .cards > .card > .content:after:after, .card > .content:after:after
{
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
/*endregion*/
/* flex.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Flex Module

*/
/* dependencies */
/*--------------------------------------------------------------------------------------------------------------------*/
/* Variables                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Flex Component                                                                                                     */
/*--------------------------------------------------------------------------------------------------------------------*/
/*doc

# Flex Component

## Default Flex Configuration

<div class="flx">
  <div><div class="card">Item 1</div></div>
  <div><div class="card">Item 2</div></div>
  <div><div class="card">Item 3</div></div>
  <div><div class="card">Item 4</div></div>
  <div><div class="card">Item 5</div></div>
  <div><div class="card">Item 6</div></div>
  <div><div class="card">Item 7</div></div>
  <div><div class="card">Item 8</div></div>
  <div><div class="card">Item 9</div></div>
  <div><div class="card">Item 10</div></div>
  <div><div class="card">Item 11</div></div>
</div>

*/
.flex.grid
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: 0;
}
.flex.grid > *
{
  margin: 30px 30px;
}
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Gutter Modifiers                                                                                                   */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Wrap Modifiers                                                                                                     */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.flx.wrap
{
}
.flx.nowrap
{
}
/*endregion*/
/*!@}*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Ordering Modifiers                                                                                                 */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.flx > .first
{
}
.flx > .last
{
}
/*endregion*/
/* positioning.css | MIT License | https://github.com/tschroeter/markup_kit */
/*doc

# Positioning Module

 Module to place elements outside of the normal document flow.

*/
[class*='top'], [class*='bottom'], [class*='left'], [class*='right'], [class*='center']
{
  position: absolute !important;
  z-index: 1;
}
.fixed
{
  position: fixed !important;
  z-index: 9999 !important;
}
.right
{
  right: 0;
}
.left
{
  left: 0;
}
.top.left
{
  top: 0;
  left: 0;
}
.top.right
{
  top: 0;
  right: 0;
}
.bottom_left
{
  bottom: 0;
  left: 0;
}
.bottom_right
{
  bottom: 0;
  right: 0;
}
.center-vertical
{
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.center-horizontal
{
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: table;
}
.shift-top-right
{
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
@media (min-width: 961px)
{
  .fixed\@medium-up
  {
    position: fixed !important;
    z-index: 9999 !important;
  }

  .right\@medium-up
  {
    top: 0;
    bottom: 0;
    right: 0;
  }

  .top_left\@medium-up
  {
    top: 0;
    left: 0;
  }

  .top_right\@medium-up
  {
    top: 0;
    right: 0;
  }

  .bottom_left\@medium-up
  {
    bottom: 0;
    left: 0;
  }

  .bottom_right\@medium-up
  {
    bottom: 0;
    right: 0;
  }
}
/* sizing.css | MIT License | https://github.com/tschroeter/markup_kit */
/*doc

# Sizing Module

 Module to define the width or height of elements especially for different viewport sizes.
*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Fixed Width Modifiers                                                                                              */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.w_sm
{
  width: 640px;
}
.w_md
{
  width: 960px;
}
.w_lg
{
  width: 1200px;
}
.w_xl
{
  width: 1600px;
}
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Width Modifiers                                                                                                    */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.w100
{ width: 100% !important; }
.child_w10 > *, .w10
{ width: 10% !important; }
.child_w20 > *, .w20
{ width: 20% !important; }
.child_w25 > *, .w25
{ width: 25% !important; }
.child_w30 > *, .w30
{ width: 30% !important; }
.child_w33 > *, .w33
{ width: 33.3333% !important; }
.child_w40 > *, .w40
{ width: 40% !important; }
.child_w50 > *, .w50
{ width: 50% !important; }
.child_w60 > *, .w60
{ width: 60% !important; }
.child_w67 > *, .w67
{ width: 67% !important; }
.child_w70 > *, .w70
{ width: 70% !important; }
.child_w75 > *, .w75
{ width: 75% !important; }
.child_w80 > *, .w80
{ width: 80% !important; }
.child_w90 > *, .w90
{ width: 90% !important; }
.child_w100, .w100
{ width: 100% !important; }
@media (min-width: 641px)
{
  .child_w10\@sm_up > *, .w10\@sm_up
  { 	width: 10% !important; }

  .child_w20\@sm_up > *, .w20\@sm_up
  { 	width: 20% !important; }

  .child_w25\@sm_up > *, .w25\@sm_up
  { 	width: 25% !important; }

  .child_w33\@sm_up > *, .w33\@sm_up
  { 	width: 33.3333% !important; }

  .child_w40\@sm_up > *, .w40\@sm_up
  { 	width: 40% !important; }

  .child_w50\@sm_up > *, .w50\@sm_up
  { 	width: 50% !important; }

  .child_w60\@sm_up > *, .w60\@sm_up
  { 	width: 60% !important; }

  .child_w67\@sm_up > *, .w67\@sm_up
  { 	width: 67% !important; }

  .child_w75\@sm_up > *, .w75\@sm_up
  { 	width: 75% !important; }

  .child_w80\@sm_up > *, .w80\@sm_up
  { 	width: 80% !important; }

  .child_w90\@sm_up > *, .w90\@sm_up
  { 	width: 90% !important; }

  .child_w100\@sm_up, .w100\@sm_up
  { 	width: 100% !important; }
}
@media (min-width: 961px)
{
  .child_w10\@md_up > *, .w10\@md_up
  { 	width: 10% !important; }

  .child_w20\@md_up > *, .w20\@md_up
  { 	width: 20% !important; }

  .child_w25\@md_up > *, .w25\@md_up
  { 	width: 25% !important; }

  .child_w33\@md_up > *, .w33\@md_up
  { 	width: 33.3333% !important; }

  .child_w40\@md_up > *, .w40\@md_up
  { 	width: 40% !important; }

  .child_w50\@md_up > *, .w50\@md_up
  { 	width: 50% !important; }

  .child_w60\@md_up > *, .w60\@md_up
  { 	width: 60% !important; }

  .child_w67\@md_up > *, .w67\@md_up
  { 	width: 67% !important; }

  .child_w75\@md_up > *, .w75\@md_up
  { 	width: 75% !important; }

  .child_w80\@md_up > *, .w80\@md_up
  { 	width: 80% !important; }

  .child_w90\@md_up > *, .w90\@md_up
  { 	width: 90% !important; }

  .child_w100\@md_up, .w100\@md_up
  { 	width: 100% !important; }
}
@media (min-width: 1201px)
{
  .child_w10\@lg_up > *, .w10\@lg_up
  { 	width: 10% !important; }

  .child_w20\@lg_up > *, .w20\@lg_up
  { 	width: 20% !important; }

  .child_w25\@lg_up > *, .w25\@lg_up
  { 	width: 25% !important; }

  .child_w33\@lg_up > *, .w33\@lg_up
  { 	width: 33.3333% !important; }

  .child_w40\@lg_up > *, .w40\@lg_up
  { 	width: 40% !important; }

  .child_w50\@lg_up > *, .w50\@lg_up
  { 	width: 50% !important; }

  .child_w60\@lg_up > *, .w60\@lg_up
  { 	width: 60% !important; }

  .child_w67\@lg_up > *, .w67\@lg_up
  { 	width: 67% !important; }

  .child_w75\@lg_up > *, .w75\@lg_up
  { 	width: 75% !important; }

  .child_w80\@lg_up > *, .w80\@lg_up
  { 	width: 80% !important; }

  .child_w90\@lg_up > *, .w90\@lg_up
  { 	width: 90% !important; }

  .child_w100\@lg_up, .w100\@lg_up
  { 	width: 100% !important; }
}
@media (min-width: 1601px)
{
  .child_w10\@xl_up > *, .w10\@xl_up
  { 	width: 10% !important; }

  .child_w20\@xl_up > *, .w20\@xl_up
  { 	width: 20% !important; }

  .child_w25\@xl_up > *, .w25\@xl_up
  { 	width: 25% !important; }

  .child_w33\@xl_up > *, .w33\@xl_up
  { 	width: 33.3333% !important; }

  .child_w50\@xl_up > *, .w50\@xl_up
  { 	width: 50% !important; }

  .child_w60\@xl_up > *, .w60\@xl_up
  { 	width: 60% !important; }

  .child_w67\@xl_up > *, .w67\@xl_up
  { 	width: 67% !important; }

  .child_w75\@xl_up > *, .w75\@xl_up
  { 	width: 75% !important; }

  .child_w80\@xl_up > *, .w80\@xl_up
  { 	width: 80% !important; }

  .child_w90\@xl_up > *, .w90\@xl_up
  { 	width: 90% !important; }

  .child_w100\@xl_up, .w100\@xl_up
  { 	width: 100% !important; }
}
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Height Modifiers                                                                                                   */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.height_vp
{
  min-height: 100vh;
}
.height_vp_4_5
{
  min-height: 80vh;
}
.height_vp_3_5
{
  min-height: 60vh;
}
/*endregion*/
/* spacing.css | MIT License | https://github.com/tschroeter/markup_kit */
/*doc

# Spacing Module

Module to define margin or padding values to an element especially for different viewport sizes

*/
/* dependencies */
/*--------------------------------------------------------------------------------------------------------------------*/
/* Variables                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*endregion*/
.margin
{
  margin-bottom: 20px;
}
* + .margin
{
  margin-top: 20px !important;
}
.padding
{
  padding: 30px;
}
/* visibility.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

*/
.invisible
{
  visibility: hidden !important;
}
*:not(:hover) .visible-on-hover
{
  visibility: hidden !important;
}
@media (min-width: 641px)
{
  .visible\@small-up
  {
    visibility: visible !important;
  }

  .hidden\@small-up
  {
    display: none !important;
  }
}
@media (min-width: 961px)
{
  .visible\@medium-up
  {
    visibility: visible !important;
  }

  .hidden\@medium-up
  {
    display: none !important;
  }
}
/* coloring.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Coloring Module

The Coloring module define the background and foreground colors of elements.

*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Variables                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*endregion*/
/*doc

<div class="">

</div>

*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Primary                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.bg
{ background-color: #FFF !important; }
.muted
{
  background-color: #E0E1E2 !important;
}
.primary
{
  background-color: #1E87F0 !important;
  color: #FFF;
}
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Secondary                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.secondary
{ background-color: #222 !important; }
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Basic                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.basic
{
  background-color: #FFF;
}
/*endregion*/
/* heading.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Heading Module

*/
h1.header
{
  font-size: 2em;
}
h2.header
{
  font-size: 1.7142857143em;
}
h3.header
{
  font-size: 1.2857142857em;
}
h4.header
{
  font-size: 1.0714285714em;
}
h5.header
{
  font-size: 1em;
}
h4.sub.header
{
  font-size: 1em;
}
/* image.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Image Module

*/
.image
{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}
img.image
{
  display: block;
}
.circular.image {
  overflow: hidden;
}
.circular.image
{
  border-radius: 500em;
}
/* page.css | MIT License | https://github.com/tschroeter/markup_kit */
/*doc

# Page module
*/
.page {
  /* box sizing has to be 'content-box' so max-width is always
  the same and unaffected by padding on different viewport sizes*/
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.page > *
{
  box-sizing: border-box;
}
@media (min-width: 641px)
{
  .page
  {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 961px)
{
  .page
  {
    padding-left: 40px;
    padding-right: 40px;
  }
}
/* grid.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Grid Module

*/
/* dependencies */
/*--------------------------------------------------------------------------------------------------------------------*/
/* Variables                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
:root
{
  /* default gutter */
}
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Grid Component                                                                                                     */
/*--------------------------------------------------------------------------------------------------------------------*/
/*doc

## Grid Component

The Grid component arranges block elements into columns and works closely together with the width modifiers of the
Sizing module to determine how much space of the the container each item will take up.

### Default Grid Configuration

<div class="grid">
  <div class="w20">
    <div class="card">20%</div>
  </div>
   <div class="w20">
    <div class="card">20%</div>
  </div>
  <div class="w20">
    <div class="card">20%</div>
  </div>
  <div class="w20">
    <div class="card">20%</div>
  </div>
  <div class="w20">
    <div class="card">20%</div>
  </div>

  <div class="w25">
    <div class="card">25%</div>
  </div>
  <div class="w25">
    <div class="card">25%</div>
  </div>
  <div class="w25">
    <div class="card">25%</div>
  </div>
  <div class="w25">
    <div class="card">25%</div>
  </div>

  <div class="w33">
    <div class="card">33%</div>
  </div>
  <div class="w33">
    <div class="card">33%</div>
  </div>
  <div class="w33">
    <div class="card">33%</div>
  </div>

  <div class="w50">
    <div class="card">50%</div>
  </div>
  <div class="w50">
    <div class="card">50%</div>
  </div>

  <div class="w100">
    <div class="card">100%</div>
  </div>

  <div>
    <div class="card">auto</div>
  </div>

  <div>
    <div class="card">auto</div>
  </div>

  <div>
    <div class="card">auto</div>
  </div>

  <div class="fill">
    <div class="card">fill</div>
  </div>
</div>

*/
/*region*/
.grid
{
  /* extend clearfix modifier from Float module */
  /* default gutter */
  margin-left: -15px;
  margin-right: -15px;
}
.grid_item, .grid > *
{
  float: left;
  min-height: 1px;
  /* fit width to content */
  width: auto;
  _width: 1px;

  /* horizontal default gutter */
  padding: 0 15px;
  /* vertical default gutter */
  margin: 0 0 15px;
}
@media(min-width: 1201px)
{
  .grid
  {
    margin-left: -35px;
    margin-right: -35px;
  }

  .grid_item, .grid > *
  {
    /* horizontal default gutter */
    padding: 0 35px;
    /* vertical default gutter */
    margin: 0 0 35px;
  }
}
.grid > .fill
{
  min-width: 50px;
  width: 10000px;
  *width: auto;
  display: table-cell;
  float: none;
  _float: left;
}
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Gutter Modifiers                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*doc

### Gutter Modifiers

The Grid component comes with a default gutter, that is decreased automatically from a certain breakpoint, usually on a
smaller desktop viewport width. To apply a different gutter, add one of the following classes.

*/
/*region*/
/*doc
#### Remove Grid Gutter

Add the .collapse class to remove the grid gutter entirely.

<div class="grid collapse">
  <div class="w33">
    <div class="card">33%</div>
  </div>
  <div class="w33">
    <div class="card">33%</div>
  </div>
  <div class="w33">
    <div class="card">33%</div>
  </div>
</div>
*/
.grid.collapse
{
  margin-left: 0;
  margin-right: 0;
}
.grid.collapse > *
{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.grid.small
{
}
.grid.medium
{
}
.grid.large
{
}
/*endregion*/
/*!@}*/
/*!@{
/*<!--------------------------------------------------------------------------------------------------------------------
//! @name Push And Pull
//<!------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*endregion*/
/*!@}*/
/*doc

# List Module

*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* List Component                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.list
{
  list-style-type: none;
  margin: 1em 0;
  padding: 0 0;
}
.list:first-child
{
  margin-top: 0;
  padding-top: 0;
}
.list:last-child
{
  margin-bottom: 0;
  padding-bottom: 0;
}
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* List Item                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
ul.list li, ol.list li, .list > .item, .list .list > .item
{
  display: list-item;
  table-layout: fixed;
  list-style-type: none;
  list-style-position: outside;

  padding: 0 3px;
  line-height: 1em;
}
ul.list > li:first-child:after, ol.list > li:first-child:after, .list > .list > .item, .list > .item:after
{
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
ul.list li:first-child, ol.list li:first-child, .list .list > .item:first-child, .list > .item:first-child {
  padding-top: 0;
}
ul.list li:last-child, ol.list li:last-child, .list .list > .item:last-child, .list > .item:last-child
{
  padding-bottom: 0;
}
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* List Item Content                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.list .list > .item > .content, .list > .item > .content
{
  line-height: 1em;
}
.list .list > .item > .image + .content, .list .list > .item > .icon + .content, .list > .item > .image + .content, .list > .item > .icon + .content
{
  display: table-cell;
  padding: 0 0 0 0.5em;
  vertical-align: center;
}
.list .list > .item > img.image + .content, .list > .item > img.image + .content
{
  display: inline-block;
}
.list .list > .item > .content > .list, .list > .item > .content > .list
{
  margin-left: 0;
  padding-left: 0;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Divided List                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.divided.list > .item, .divided.list > li
{
  border-top: 1px solid #D4D4D5;
}
.divided.list > .item:first-child, .divided.list > li:first-child
{
  border-top: none;
}
.hidden.overflow
{
  overflow: hidden;
}
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Horizontal List                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.horizontal.list, ul.horizontal.list, ol.horizontal.list
{
  display: inline-block;
  white-space: nowrap;
}
.horizontal.list > .item, ul.horizontal.list > li, ol.horizontal.list > li
{
  display: inline-block;
  white-space: nowrap;
  position: relative;
  margin-left: 0 3px;
}
ul.horizontal.list li a
{
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  display: block;
}
.horizontal.list .list
{
  padding-left: 0;
  padding-bottom: 0;
}
.horizontal.list > .item > .image, .horizontal.list .list > .item > .image, .horizontal.list > .item > .icon, .horizontal.list .list > .item > .icon, .horizontal.list > .item > .content, .horizontal.list .list > .item > .content
{
  vertical-align: center;
}
.horizontal.list > .item:first-child, .horizontal.list > .item:last-child, ul.horizontal.list > .li:first-child, ul.horizontal.list > .li:last-child, ol.horizontal.list > .li:first-child, ol.horizontal.list > .li:last-child
{
  padding-top: 3px;
  padding-bottom: 0;
}
/*endregion*/
/* off_canvas.css | MIT License | https://github.com/tschroeter/markup_kit */
/*doc

# Off-canvas Module

Module to create an off-canvas sidebar. The module is used to hide the navigation menu off canvas. This is especially
useful for screens with small viewport.

*/
/* dependencies */
/*--------------------------------------------------------------------------------------------------------------------*/
/* Variables                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Off-canvas Component                                                                                               */
/*--------------------------------------------------------------------------------------------------------------------*/
/*doc
## Of-canvas Component

To apply the component add the off_canvas class to a parent div container and use the sub-component classes
*/
/*region*/
.off_canvas
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
@media (max-width: 640px)
{
  .off_canvas\@small-down
  {
  	position: fixed;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	z-index: 1000;
  }
}
@media (max-width: 960px)
{
  .off_canvas\@medium-down
  {
  	position: fixed;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	z-index: 1000;
  }
}
/*endregion*/
/*!@}*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Off-canvas Bar Sub-component                                                                                       */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.off_canvas_bar
{
  /* set position ----------------------*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  /* -----------------------------------*/
  background: #FFF;
  /* -----------------------------------*/
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* -----------------------------------*/
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /* -----------------------------------*/
}
@media (max-width: 640px)
{
  .off_canvas_bar\@small-down
  {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	width: 250px;
  	background: #FFF;
  	overflow-y: auto;
  	-webkit-overflow-scrolling: touch;
  	-webkit-transform: translateX(-100%);
          	transform: translateX(-100%);
  }
}
@media (max-width: 960px)
{
  .off_canvas_bar\@medium-down
  {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	width: 250px;
  	background: #FFF;
  	overflow-y: auto;
  	-webkit-overflow-scrolling: touch;
  	-webkit-transform: translateX(-100%);
          	transform: translateX(-100%);
  }
}
/*endregion*/
.off_canvas_checkbox_trigger:checked ~ [class*='off_canvas'] [class*='off_canvas_bar'], .off_canvas_open [class*='off_canvas_bar']
{
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.off_canvas_checkbox_trigger:checked ~ [class*='off_canvas_content']
{
  border: 1px solid red;
}
.segment {
  position: relative;
  background: #FFF;
  box-shadow: 0px 1px 2px 0 #D4D4D5;
  margin: 1em 0em;
  padding: 1em 1em;
  border-radius: .25rem;
  border: 1px 1px solid #999;
}
.segment:first-child
{
  margin-top: 0;
}
.segment:last-child
{
  margin-bottom: 0;
}
/* card.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Card Module

*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Variables                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
:root
{
  /* coloring */
  /* sizing */
  /* border */
  /* shadow */
  /* sizing */

  /* spacing */

  /* typography */
}
/*endregion*/
.card
{
  /* sizing */
  max-width: 100%;
  width: 250px !important;
  /* positioning */
  position: relative;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* border */
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0px #D4D4D5;
  /* coloring */
  background: rgba(255, 255, 255, 1) !important;
  /* spacing */
  padding: 0;
  margin: 1em 0em;
}
.cards > .card a, .card a
{
  cursor: pointer;
}
.card:last-child
{
  margin-bottom: 0;
}
/*
/*--------------------------------------------------------------------------------------------------------------------*/
/* Card Edges                                                                                                         */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*.cards > .card > :first-child,
.card > :first-child
{
  border-radius: var(--card_border_radius) var(--card_border_radius) 0 0 !important;
  border-top: none !important;
}*/
.cards > .card > :last-child, .card > :last-child
{
  border-radius: 0 0 0.25rem 0.25rem !important;
}
.cards > .card > :only-child, .card > :only-child
{
  border-radius: 0.25rem !important;
}
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Card Content                                                                                                       */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.cards > .card > .content, .card > .content
{
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  border-top: 1px solid #D4D4D5;
  background: inherit;
  margin: 0;
  padding: 1em 1em;
  box-shadow: none;
  font-size: 1em;
  border-radius: 0;
}
.cards > .card > .content > .header, .cards > .card > .content.header, .card > .content > .header, .card > .content.header
{
  display: block;
  margin: 0;
  color: #666;
  font-weight: bold;
}
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Card Images                                                                                                        */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.card > .image
{
  position: relative;
  display: block;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.card > .image > img
{
  display: block;
  position: absolute;
  height: 100%;
  width: auto;
  border-radius: inherit;
}
/*endregion*/
/* Nav
** http://getmarkupkit.com
**(c) Thomas Schroeter <mailto: mail@tschroeter.com> and Investigative Reporters & Editors 2017
** markup_kit may be freely distributed under the MIT license
*/
.nav ul
{
  margin: 0;
  padding: 0;
}
.nav > ul, nav > ul
{
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 15px;
}
.nav ul > *, nav ul > *
{
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-left: 15px;
}
.nav li > a, nav ul li > a
{
  display: block;
  text-decoration: none;
}
.nav li > a:focus, nav li > a:focus
{
  outline: none;
}
.nav > li > a, nav ul li > a
{
  color: #999;
  padding: 5px 5px
}
.nav > li > a:hover, .nav > li > a:focus, nav ul li > a:hover, nav ul li > a:focus
{
  color: #666;
}
.nav > li.active > a, nav ul li.active > a
{
  color: #333;
}
/* Justification */
.nav.expand ul li
{
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}
/** Pills **/
.nav.pills li.active
{
  background: #1E87F0;
  border-radius: .25rem;
}
.nav.pills li.active > a
{
  color: #FFF;
}
/** Vertical Navigation */
.nav_vertical
{
  display: block;
}
.nav_vertical > *
{
  padding-left: 0;
  margin-bottom: 5px;
}
@media (min-width: 961px)
{
  .nav.vertical\@medium-up
  {
    display: block;
  }

  .nav.vertical\medium-up > *
  {
    padding-left: 0;
    margin-bottom: 5px;
  }
}
.navbar
{
  background: #E0E1E2;
}
.navbar > .left, .navbar > .right
{
  position: relative !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.navbar ul > li > ul
{
  display: block;
}
.navbar ul.right
{
  position: relative !important;
  margin-left: auto;
}
/** NavBar Navigation */
.navbar_nav
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar ul.navbar_nav > li, .navbar .logo, .navbar .navbar_toggle
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  height: 80px;
}
input.navbar_toggle
{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>") no-repeat center center;
          mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>") no-repeat center center;
}
@media (min-width: 961px)
{
  .navbar_nav\@medium-up
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .navbar ul.navbar_nav\@medium-up > li, .navbar .logo, .navbar .navbar_toggle
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px;
    height: 80px;
  }
}
@font-face
{
  font-family: "Icons";
  src: url("../fonts/icons.eot") format('embedded-opentype'),
  url("../fonts/icons.otf") format('otf'),
  url("../fonts/icons.woff2") format('woff2'),
  url("../fonts/icons.woff") format('woff'),
  url("../fonts/icons.ttf") format('truetype'),
  url("../fonts/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
i.icon
{
  width: 1.18em;
  height: 1em;
  display: inline-block;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
i.icon:before
{
  background: none !important;
}
.car.icon:before
{
  content: "\f1b9";
}
.map.pin.icon:before
{
  content: "\f276";
}
.plus.icon:before
{
  content: "\f067";
}
.window.close.icon:before
{
  content: "\f2d3";
}
/* button.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Button Module

The Button module include predefined button styles with different semantic purposes.

*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Variables                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*endregion*/
/*doc

## Button

A standard button.

<div class="buttons">
  <button class="button">Click Me</button>
  <button class="primary">Click Me</button>
  <button class="secondary">Click Me</button>
</div>
*/
.button, .buttons > *
{
  /*sizing */
  min-height: 1em;
  /* spacing */
  margin: 0;
  padding: 0.5em 1.5em 0.5em;
  /* border */
  border: none;
  border-radius: 0.25rem;
  outline: none;
  /* typography */
  font: inherit;
  font-size: 1em;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  /* coloring */
  color: inherit;
  background: #E0E1E2;
  /* positioning */
  display: inline-block;
  vertical-align: middle;
  /* cursor */
  cursor: pointer;

  -webkit-user-select: none;

     -moz-user-select: none;

      -ms-user-select: none;

          user-select: none;
}
.button > .icon
{
  margin: 0 !important;
}
/* Primary Buttons */
.button:hover, .buttons > *:hover
{
  background-color: rgb(208, 208, 208);
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Circular Button                                                                                                    */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
.circular.button
{
  border-radius: 10em;
  padding: 0.5em 0.5em 0.5em;
}
.circular.button > .icon
{
  width: 1em;
  vertical-align: baseline  ;
}
/*endregion*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Animated Button                                                                                                    */
/*--------------------------------------------------------------------------------------------------------------------*/
/*region*/
/*doc

## Animated Button

<div class="animated button">
  <div class="content visible">Sign Up</div>
  <div class="content hidden">12.99$ a month</div>
</div>

*/
.animated.button
{
  overflow: hidden;
  position: relative;
  padding-right: 0 !important;
  z-index: 1;
  vertical-align: middle;
}
.animated.button .content
{
  will-change: transform, opacity;
}
.animated.button .content
{
  will-change: transform, opacity;
}
.animated.button .visible.content
{
  position: relative;
  margin-right: 1.5em;
}
.animated.button .hidden.content
{
  position: absolute;
  width: 100%;
}
.animated.button .visible.content, .animated.button .hidden.content
{
  transition: right 0.3s ease 0s;
}
.animated.button .visible.content
{
  left: auto;
  right: 0;
}
.animated.button .hidden.content
{
  top: 50%;
  left: auto;
  right: -100%;
  margin-top: calc((-1 * var(--button-line-height) / 2));
}
.animated.button:focus .visible.content, .animated.button:hover .visible.content
{
  left: auto;
  right: 200%;
}
.animated.button:focus .hidden.content, .animated.button:hover .hidden.content
{
  left: auto;
  right: 0;
}
/*endregion*/
.form .label
{
  display: block;
  margin-bottom: 10px;
}
.input
{
  overflow: visible;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.input, .select, .textarea, .radio, .checkbox
{
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  font: inherit;
}
.input:focus, .select:focus, .textarea:focus
{
  outline: none;
}
.input, .select, .textarea
{
  /* prevent content overflow when fixed width is used */
  max-width: 100%; /* prevent content overflow if a fixed width is used */
  width: 100%; /* takr full width */
  padding: 0 6px;
  background: #E0E1E2;
  color: #666;
  border: 0 none; /* reset default */
  border: 1px solid #D4D4D5;
  -webkit_transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit_transition-property: color, background-color, border;
  transition-property: color, background-color, border;
  line-height: 100% !important;
}
.input:focus, .select:focus, .textarea:focus
{
  background: #FFF;
  color: #666;
  border-color: #1E87F0;
}
.custom.field
{
  display: inline-block;
  position: relative;
  max-width: 100%;
  vertical-align: middle;
}
.custom.field > input[type="file"]
{
  position: absolute;
  top: 0;
  z-index: 1000;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-appearance: none;
  cursor: pointer;
}
.custom.field input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  opacity: 0;
}
.custom.field input[type="file"]
{
  font-size: 500px;
  overflow: hidden;
}
.input, .select:not([multiple]):not([size])
{
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  line-height: 40px;
}
.select
{
  /** remove default style */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%201%209%206%2015%206%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%2013%209%208%2015%208%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.checkbox
{
  display: inline-block;
  height: 16px;
  width: 16px;
  overflow: hidden;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #E0E1E2;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: -4px;
}
.checkbox:checked
{
  background-color: #1E87F0;
}
.checkbox:checked
{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%2F%3E%0A%3C%2Fsvg%3E");
}
/* dropdown.css | MIT License | github.com/tschroeter/markup_kit */
/*doc

# Dropdown Module

*/
.drop_down
{
  display: none; /* hide by default */
  position: absolute;
  z-index: 4000;
  box-sizing: border-box;
  min-width: 200px;
  background: #FFF;
  color: #999;
  padding: 15px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
  @apply(--kit_drop_down_mixin);
}
.drop_down .drop_down_item
{
  padding: 0 15px;
  @apply(--kit_drop_down_item_mixin);
}
.drop_down .drop_down_item.selected, .drop_down .drop_down_item:hover
{
  color: #FFF;
  background: #1E87F0;
}
.drop_down .drop_down_item:hover
{
}
/** Dropdown Menu **/
@media (min-width: 961px)
{

  .drop_down_nav_item\@medium-up
  {
    position: relative;
    z-index: 4000;
  }

  .nav .drop_down_nav_item\@medium-up > .nav, nav .drop_down_nav_item\@medium-up > ul
  {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: #E0E1E2;
  }

  .drop_down_nav_item\@medium-up:hover .nav, .drop_down_nav_item\@medium-up:hover > ul
  {
    visibility: visible;
  }
}
/** available mixins */
/* deprecated */
.box_shadow_small
{
  box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
}
.box_shadow_medium
{
  box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}
.box_shadow_large
{
  box-shadow: 0 14px 25px rgba(0, 0, 0, .16);
}
.box_shadow_xxl
{
  box-shadow: 0 28px 50px rgba(0, 0, 0, .16);
}
.bg_muted
{
  background-color: #E0E1E2 !important;
}
.bg_primary
{
  background-color: #1E87F0 !important;
}
.bg_secondary
{
  background-color: #222 !important;
}
.logo
{
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #666;
  text-decoration: none;
}
.logo:hover, .logo:focus
{
  color: #666;
  outline: none;
  text-decoration: none;
}