.ui.table
{
  border-collapse : collapse;
  border-spacing  : 0;
  max-width       : 100%;
  width           : 100%;
  empty-cells     : show;
}

.ui.small.table
{
  font-size: .9em;
}

.ui.table th
{
  text-align     : left;
  font-weight    : 700;
  vertical-align : bottom;
}

.ui.table td
{
  vertical-align : top;
}

.ui.table th,
.ui.table td
{
  padding: var(--table-cell-vertical-padding) var(--table-cell-horizontal-padding);
  border-bottom : var(--border-width) var(--border-color) var(--border-style);
}

.ui.table th:first-child,
.ui.table td:first-child
{
  padding-left : 0;
}

.ui.table th:last-child,
.ui.table td:last-child
{
  padding-right : 0;
}

.ui.table tr:last-child th,
.ui.table tr:last-child td
{
  border-bottom: none;
}