/*doc

# Typography

Typography is one of the most important and most visible things on a web page. Even slightly imperfection ruin otherwise
a perfect visual design.

*/

@import 'core.settings';
@import 'typography.scaling';
@import 'typography.measuring';
@import 'typography.leading';
@import 'typography.tracking';
@import 'typography.heading';
@import 'typography.font-family';

.small
{
  font-size:   var(--font-size-small);
  line-height: var(--line-height-small);
}

.smaller
{
  font-size:   var(--font-size-smaller);
  line-height: var(--line-height-smaller);
}



