/* globals.css | MIT License | github.com/tschroeter/markup_kit */

:root
{

  /*------------------------------------------------------------------------------------------------------------------*/
  /* Font Family                                                                                                         */
  /*------------------------------------------------------------------------------------------------------------------*/
  /*region*/
  --font-family:            var(--font-family-sans-serif);
  --font-family-system:     -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-sans-serif: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  --font-family-serif:      Georgia, "Times New Roman", Times, serif;
  --font-family-monospace:  Consolas, Monaco, 'Courier New', monospace;
  /*endregion*/

  /*------------------------------------------------------------------------------------------------------------------*/
  /* Font Size                                                                                                         */
  /*------------------------------------------------------------------------------------------------------------------*/
  /*region*/
  --font-size-scale-factor: 1.1618;
  --font-size:              16px;
  --font-size-smaller:      calc(var(--font-size) - 4px);
  --font-size-small:        calc(var(--font-size) - 2px);
  --font-size-big:          calc(var(--font-size) + 2px);
  --font-size-larger:       calc(var(--font-size) + 4px);
  /*endregion*/

  /*------------------------------------------------------------------------------------------------------------------*/
  /* Font Weight                                                                                                         */
  /*------------------------------------------------------------------------------------------------------------------*/
  /*region*/
  --font-weight:            normal;
  --font-weight-thin:       200;
  --font-weight-light:      300;
  --font-weight-regular:    400;
  --font-weight-medium:     500;
  --font-weight-semibold:   600;
  --font-weight-bold:       700;
  --font-weight-black:      800;

  /*endregion*/

  /*------------------------------------------------------------------------------------------------------------------*/
  /* Line Height                                                                                                      */
  /*------------------------------------------------------------------------------------------------------------------*/
  /*region*/
  --line-height:            1.5;
  --line-height-smaller:    calc(var(--line-height) - 4px);
  --line-height-small:      calc(var(--line-height) - 2px);
  --line-height-big:        calc(var(--line-height) + 2px);
  --line-height-larger:     calc(var(--line-height) + 4px);
  /*endregion*/

  /*------------------------------------------------------------------------------------------------------------------*/
  /* Spacing                                                                                                          */
  /*------------------------------------------------------------------------------------------------------------------*/
  /*region*/
  --spacing-small:          .5em;
  --letter-spacing:         0;
  /*endregion*/

  /*------------------------------------------------------------------------------------------------------------------*/
  /* Border                                                                                                           */
  /*------------------------------------------------------------------------------------------------------------------*/
  /*region*/
  --border-width:           1px;
  --border-style:           solid;
  --border-color:           var(--color-lightgray);
  --border-radius:          4px;
  /*endregion*/

  /*------------------------------------------------------------------------------------------------------------------*/
  /* Colors                                                                                                           */
  /*------------------------------------------------------------------------------------------------------------------*/
  /*region*/
  --color:                  var(--color-darkgray);
  --color-focus:            #1C86F2;

  /* base colors */
  --color-primary:          #C65146;
  --color-secondary:        #EBE1D3;

  /* text colors */
  --color-text-primary:     #444;
  --color-text-secondary:   #777;
  --color-text-inverted:    white;

  /* state colors */
  --color-state-success:    #32d296;
  --color-state-warning:    #faa05a;
  --color-state-error:      #f0506e;
  --color-state-muted:      #EEE;

  /* background */
  --color-bg-dark:          #32373D;
  --color-bg-light:         var(--color-lightgray);
  --color-bg-body:          white;

  /** Grayscale **/
  --color-black:            #0D0D0E;
  --color-darkgray:         #313439;
  --color-midgray:          #676B72;
  --color-gray:             #BDBDBD;
  --color-lightgray:        #D4D4D4;
  --color-silver:           #E0E1E1;
  --color-aluminium:        #F8F8F8;
  /*endregion*/
}