@import url(button.css);

:root
{
  --form-margin-bottom: var(--global-margin-small);
  --form-height: var(--global-control-height);
  --form-line-height: var(--form-height);
  --form-padding-horizontal: 6px;
  --form-padding-vertical: 4px;
  --form-select-padding-right: 20px;
  --form-foreground-color: var(--global-foreground-color);
  --form-background: var(--global-muted-background);
  --form-background-focus: var(--global-background);
  --form-foreground-color-focus: var(--global-foreground-color);

  --form-border-width: var(--global-border-width);
  --form-border-color: var(--global-border-color);
  --form-border-color-focus: var(--global-background-primary);
  --form-select-image-url: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%201%209%206%2015%206%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%2013%209%208%2015%208%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E%0A");
}

.kit_form .kit_label
{
  display: block;
  margin-bottom: var(--form-margin-bottom);
}

.kit_input
{
  overflow: visible;
  appearance: textfield;

}

.kit_input,
.kit_select,
.kit_textarea,
.kit_radio,
.kit_checkbox
{
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  font: inherit;
}

.kit_input,
.kit_select,
.kit_textarea
{
  /* prevent content overflow when fixed width is used */
  max-width: 100%; /* prevent content overflow if a fixed width is used */
  width: 100%; /* takr full width */
  padding: 0 var(--form-padding-horizontal);
  background: var(--form-background);
  color: var(--form-foreground-color);
  border: 0 none; /* reset default */

  border: var(--form-border-width) solid var(--form-border-color);
  -webkit_transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit_transition-property: color, background-color, border;
  transition-property: color, background-color, border;
  line-height: 100% !important;
}

.kit_input:focus,
.kit_select:focus,
.kit_textarea:focus
{
  background: var(--form-background-focus);
  color: var(--form-foreground-color-focus);
  border-color: var(--form-border-color-focus);
}



.kit_input,
.kit_select:not([multiple]):not([size])
{
  height: var(--form-height);
  vertical-align: middle;
  display: inline-block;
  line-height: var(--form-line-height);
}

.kit_select
{
  /** remove default style */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: var(--form-select-padding-right);
  background-image: var(--form-select-image-url);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
